<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:p="http://primefaces.org/ui"
	 lang="en">
	<h:head>
		<title>#{bundle['application.defaultpage.title'] }</title>
		<meta name="keywords" content="enter,your,keywords,here"/>
		<meta name="description" content="A short description of this page."/>
		<meta name="content-type" content="text/html; charset=UTF-8"/>

		<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
	</h:head>
	<h:body style="	font-family: Arial; font-size: 12px; color: #FFFFFF;">
		<p:menu style="padding:50px; margin:100px auto;">
			<p:menuitem value="首页" url="#" />
			<p:menuitem value="#{bundle['application.teacher.teacher_login.title'] }"  outcome="/teacher/teacher_login?faces-redirect=true"/>
			<p:menuitem value="#{bundle['application.secretary.secretary_login.title'] }" outcome="/secretary/secretary_login?faces-redirect=true"/>
			<p:menuitem value="#{bundle['application.user.user_login.title'] }" outcome="/user/user_login?faces-redirect=true"/>
		</p:menu>
	</h:body>
</html>
