<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title" > #{bundle['application.secretary.secretary_fileLendout']}</ui:define>
	<ui:define name="metadata" >
		<f:metadata>
			<f:viewParam name="archive_id" value="#{lendout_infoBacking.archive_id}" 
			required="true"
			requiredMessage="不能缺少档案号"></f:viewParam>
			<f:viewParam name="checkout_flag" value="#{lendout_infoBacking.checkout_flag }"></f:viewParam>
			<f:viewParam name="statistics_flag" value="#{lendout_infoBacking.statistics_flag }"></f:viewParam>
			<f:event listener="#{lendout_infoBacking.init}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content" >
	
	<p:panel header="#{bundle['application.secretary.secretary_fileLendout']}">
		<h:form style="margin-left:100px">
		<h:panelGrid columns="2">
			<h:outputText value="#{archiveBundle['archive_year']}" style="font-weight:bold" ></h:outputText>		
			<h:outputText value="#{archive.archive_year}" />
		
			<h:outputText value="#{archiveBundle['archive_semester']}" style="font-weight:bold" ></h:outputText>		
			<h:outputText value="#{archive.archive_semester}" />
		
			<h:outputText value="#{archiveBundle['archive_course_id_id']}" style="font-weight:bold" ></h:outputText>		
			<h:outputText value="#{archive.archive_course_id_id}" />
			
			<h:outputText value="#{archiveBundle['archive_course_name']}" style="font-weight:bold" ></h:outputText>		
			<h:outputText value="#{archive.archive_course_name}" />
			
			<h:outputText value="#{archiveBundle['archive_teacher']}" style="font-weight:bold" ></h:outputText>		
			<h:outputText value="#{archive.archive_teacher}" />
			
			<c:if test="#{lendout_infoBacking.checkout_flag ne true}">
			<h:outputText value="#{archiveBundle['archive_borrower_name']}" style="font-weight:bold" ></h:outputText>
			<p:inputText value="#{archive.archive_borrower_name}" 
			required="true" 
			requiredMessage="#{archiveBundle['archive_borrower_name.required']}"></p:inputText>
			
			<h:outputText value="#{archiveBundle['archive_borrower_dept']}" style="font-weight:bold" ></h:outputText>
			<p:inputText value="#{archive.archive_borrower_dept}"
					required="true"
					requiredMessage="#{archiveBundle['archive_borrower_dept.required']}"
			></p:inputText>
			<p:commandButton value="#{bundle['application.lendout']}" action="#{lendout_infoBacking.lendout}" ajax="false"/>
			</c:if>
			
			<c:if test="#{lendout_infoBacking.checkout_flag eq true}">
			<h:outputText value="#{archiveBundle['archive_borrower_name']}" style="font-weight:bold" ></h:outputText>
			<p:inputText value="#{archive.archive_borrower_name}" 
			disabled="true"></p:inputText>
			
			<h:outputText value="#{archiveBundle['archive_borrower_dept']}" style="font-weight:bold" ></h:outputText>
			<p:inputText value="#{archive.archive_borrower_dept}"
			disabled="true"></p:inputText>
			<p:commandButton value="#{bundle['application.returnArchive']}" action="#{lendout_infoBacking.returnArchive}" ajax="false"/>
			</c:if>
			
			<c:if test="#{lendout_infoBacking.statistics_flag eq true}">
			<p:button value="#{bundle['application.return']}" outcome="/secretary/archiveLendout/lendout_statistics"></p:button>
			</c:if>
			<c:if test="#{lendout_infoBacking.statistics_flag ne true}">
			<p:button value="#{bundle['application.return']}" outcome="/secretary/secretary_archiveLendout"></p:button>		
			</c:if>
			</h:panelGrid>
		<p:messages id="msg"></p:messages>
		</h:form>
		
		</p:panel>
	
	
	</ui:define>
	</ui:composition>
</html>
