<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title">
	#{bundle['application.secretary.secretary_fileLendout.lendout_statistics']}
	</ui:define>
	<ui:define name="metadata">
	<f:metadata>
		<f:event listener="#{lendout_statisticsBacking.init}" type="preRenderView"></f:event>
	</f:metadata>
	</ui:define>
	<ui:define name="content" >
		<p:panel header="#{bundle['application.secretary.secretary_fileLendout.lendout_statistics']}">
			<h:form>
			<p:dataTable value="#{lendout_statisticsBacking.archiveList}" var="currentArchive">
			<p:column headerText="#{archiveBundle['archive_year']}">
			<h:outputText value="#{currentArchive.archive_year}"></h:outputText>
			</p:column>
			
			<p:column headerText="#{archiveBundle['archive_semester']}">
			<h:outputText value="#{currentArchive.archive_semester}"></h:outputText>
			</p:column>
			
			<p:column headerText="#{archiveBundle['archive_course_id_id']}">
			<h:outputText value="#{currentArchive.archive_course_id_id}"></h:outputText>
			</p:column>
			
			<p:column headerText="#{archiveBundle['archive_course_num']}">
			<h:outputText value="#{currentArchive.archive_course_num}"></h:outputText>
			</p:column>				
			
			<p:column headerText="#{archiveBundle['archive_course_name']}">
			<h:outputText value="#{currentArchive.archive_course_name}"></h:outputText>
			</p:column>				
			
			<p:column headerText="#{archiveBundle['archive_class']}">
			<h:outputText value="#{currentArchive.archive_class}"></h:outputText>
			</p:column>				
			<p:column headerText="#{archiveBundle['archive_borrower_name']}">
			<h:outputText value="#{currentArchive.archive_borrower_name}"></h:outputText>
			</p:column>				
			<p:column headerText="#{archiveBundle['archive_borrower_dept']}">
			<h:outputText value="#{currentArchive.archive_borrower_dept}"></h:outputText>
			</p:column>				
			<p:column headerText="#{bundle['application.operation']}">
			<h:commandLink value="#{bundle['application.checkout']}" action="#{lendout_statisticsBacking.checkout}">
				<f:setPropertyActionListener target="#{lendout_statisticsBacking.archive_id}" value="#{currentArchive.archive_id}"></f:setPropertyActionListener>
			</h:commandLink>
			</p:column>				
			</p:dataTable>		
		</h:form>
		</p:panel>
	</ui:define>
	</ui:composition>
</html>
