<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title">
		#{studentBundle['stu_title']}	
	</ui:define>
	<ui:define name="metadata" >
		<f:metadata>
			<f:event listener="#{studentSelectorBacking.init}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content" >
		<p:panel header="#{studentBundle['stu_title']}" >
			<h:form>
			<p:dataTable var="currentArchive" value="#{studentSelectorBacking.archiveList}">
			<p:column headerText="#{archiveBundle['archive_year']}">
				#{currentArchive.archive_year}
			</p:column>
			<p:column headerText="#{archiveBundle['archive_year']}">
				#{currentArchive.archive_semester}
			</p:column>
			<p:column headerText="#{bundle['application.operation']}">
				<h:commandLink value="#{bundle['application.checkout']}"
				action="#{studentSelectorBacking.checkout}"
				>
					<f:setPropertyActionListener target="#{studentSelectorBacking.currentArchive}" value="#{currentArchive}"></f:setPropertyActionListener>				
				</h:commandLink>
			</p:column>
			</p:dataTable>
			</h:form>		
		</p:panel>
	</ui:define>
	</ui:composition>
</html>
