<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title">
		#{studentBundle['stu_title']}
	</ui:define>
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="archive_year" value="#{studentBacking.archive_year}" />
			<f:viewParam name="archive_semester" value="#{studentBacking.archive_semester}" />
			<f:event listener="#{studentBacking.init}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content"> 
	<h:form>
		<p:dataTable id="dataTable" value="#{studentBacking.stuList}" var="stu" 
		scrollable="true" scrollHeight="500"
		>
		<f:facet name="header">
			<h:outputText value="#{studentBundle['stu_title']}" />
			<h:commandLink >
				<p:graphicImage value="/image/exporters/excel.png"></p:graphicImage>
				<p:dataExporter target="dataTable" type="xls" fileName="#{studentBacking.fileName}"></p:dataExporter>
			</h:commandLink>
		</f:facet>
		<p:column headerText="#{archiveBundle['archive_year']}">
			<h:outputText value="#{stu.archive_year}" />
		</p:column>		
		<p:column headerText="#{archiveBundle['archive_semester']}" > 
			<h:outputText value="#{stu.archive_semester}" />
		</p:column>
		<p:column headerText="#{archiveBundle['archive_course_name']}" >
			<h:outputText value="#{stu.archive_course_name}" />
		</p:column>
		<p:column headerText="#{archiveBundle['archive_teacher']}" >
			<h:outputText value="#{stu.archive_teacher}" />
		</p:column>
		<p:column headerText="#{studentBundle['stu_name']}" >
			<h:outputText value="#{stu.stu_name}" />
		</p:column>
		<p:column headerText="#{studentBundle['stu_id']}" >
			<h:outputText value="#{stu.stu_id}" />
		</p:column >
		<p:column headerText="#{studentBundle['stu_class']}" >
			<h:outputText value="#{stu.stu_class}" />
		</p:column>
		<p:column headerText="#{studentBundle['stu_grade']}" >
			<h:outputText value="#{stu.stu_grade}" />
		</p:column>
		</p:dataTable>
		</h:form>
		</ui:define>
	</ui:composition>
</html>
