<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	<ui:composition template="/templates/teacher.xhtml">
	<ui:define name="title">#{bundle['application.teacher.teacher_password']}</ui:define>	
	<ui:define name="css"><link href="#{request.contextPath}" rel="stylesheet" type="text/css" /></ui:define>
	<ui:define name="content">
		<p:panel header="请填写详细信息" >
		<h:form style="margin-left:150px;">
		<p:focus />
		<h:panelGrid columns="2">
		<h:outputText value="#{bundle['user.user_oldPassword']}"></h:outputText>
		<p:password value="#{teacher.teacher_oldPassword}"
					required="true" 
					requiredMessage="#{bundle['user.user_oldPassword.validation']}" />
		
		<h:outputText value="#{bundle['user.user_newPassword']}"></h:outputText>
		<p:password  
					value="#{teacher.teacher_newPassword}"
					required="true"
					requiredMessage="#{bundle['user.user_newPassword.validation']}" />
		
		<h:outputText value="#{bundle['user.user_repeatPassword']}"></h:outputText>
		<p:password  
					value="#{teacher.teacher_repeatPassword}"
					required="true"
					requiredMessage="#{bundle['user.user_repeatPassword.validation']}" />
		</h:panelGrid>		
		<p:commandButton value="#{bundle['application.submit']}" 
					actionListener="#{teacher_passwordBacking.submit}"	ajax="true" update="@form"/>
		<p:messages styleClass="errorMessage" showDetail="true"/>
		
		</h:form>
		</p:panel>
	
	</ui:define>
	</ui:composition>
</html>
