<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	 <f:view transient="true">
	<ui:composition template="/templates/login.xhtml">
	<ui:define name="title">#{bundle['application.teacher.teacher_login.title'] }</ui:define>
	<ui:define name="welcome">#{bundle['application.teacher.teacher_login.welcome'] }</ui:define>
	<ui:define name="form">
	
	<h:form>
	<p:focus />
			<h:panelGrid columns="2" >
				<h:outputText value="#{bundle['teacher.teacher_id']}" />
				<p:inputText id="userName" 
				value="#{teacher.teacher_id}" 
				required="true" 
				requiredMessage="#{bundle['teacher.teacher_id.validation']}" 
				>
				</p:inputText>
				
				<h:outputText value="#{bundle['teacher.teacher_password']}" />
				<p:password id="password" 
				value="#{teacher.teacher_password}" 
				required="true" 
				requiredMessage="#{bundle['teacher.teacher_password.validation']}"/>
			
			<p:commandButton value="#{bundle['application.login']}" action="#{teacher_loginBacking.submit}"  update="@form"/>
			<p:button value="#{bundle['application.return']}" outcome="/index?faces-redirect=true"></p:button>
			</h:panelGrid>
			
			<p:messages id="msg" />
	</h:form>
	
	</ui:define>
	</ui:composition>
	</f:view>
</html>
