<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/teacher.xhtml">
	<ui:define name="title" >
	#{bundle['application.teacher.teacher_archiveInfo']}
	</ui:define>
	<ui:define name="metadata" >
	<f:metadata>
		<f:viewParam name="archive_id" value="#{teacher_archiveInfoBacking.archive_id}"></f:viewParam>
		<f:event listener="#{teacher_archiveInfoBacking.init}" type="preRenderView"></f:event>
	</f:metadata>
	</ui:define>
	<ui:define name="content">
	<h:form>
		<p:panel header="文件下载">
		
		<p:messages showDetail="true"></p:messages>
		<h:panelGrid columns="2">
		
		<h:outputText value="#{archiveBundle['archive_calender']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{teacher_archiveInfoBacking.calender}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_a']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{teacher_archiveInfoBacking.blank_paper_a}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_b']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{teacher_archiveInfoBacking.blank_paper_b}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_aa']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{teacher_archiveInfoBacking.blank_paper_aa}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_bb']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{teacher_archiveInfoBacking.blank_paper_bb}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_analysis']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{teacher_archiveInfoBacking.analysis}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_answer']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{teacher_archiveInfoBacking.answer}" contentDisposition="inline" ></p:fileDownload>
		</p:commandButton>
		</h:panelGrid>
		
		<h:panelGrid columns="1">
			<h:panelGroup>
			<h:outputText value="#{archiveBundle['archive_transcript']}" />
			<ui:repeat var="currentTranscript" 
			value="#{teacher_archiveInfoBacking.transcriptList}"
			varStatus="status" >
			<p:commandButton value="#{bundle['application.file']} #{status.index + 1}" ajax="false">
				<p:fileDownload value="#{currentTranscript}"></p:fileDownload>
			</p:commandButton>
			</ui:repeat>
			</h:panelGroup>
		
			<h:panelGroup>
			<h:outputText value="#{archiveBundle['archive_regular_grade']}" />
			<ui:repeat var="currentRegularGrade" 
			value="#{teacher_archiveInfoBacking.regularGradeList}"
			varStatus="status" >
			<p:commandButton value="#{bundle['application.file']} #{status.index + 1}" ajax="false">
				<p:fileDownload value="#{currentRegularGrade}"></p:fileDownload>
			</p:commandButton>
			</ui:repeat>
			</h:panelGroup>
			
			<h:panelGroup>
				<p:button value="#{bundle['application.return']}" outcome="/teacher/teacher_lookup" />
			</h:panelGroup>
		</h:panelGrid>
		</p:panel>
		

	</h:form>
			<p:panel header="#{studentBundle['stu_title']}" rendered="#{not empty teacher_archiveInfoBacking.stuList}" >
			<p:dataTable value="#{teacher_archiveInfoBacking.stuList}" var="currentstudent" 
						emptyMessage="#{studentBundle['stu_emptyMessage']}" >
				<p:column headerText="#{studentBundle['stu_id']}">
					#{currentstudent.stu_id}
				</p:column>			
				<p:column headerText="#{studentBundle['stu_name']}">
					#{currentstudent.stu_name}
				</p:column>
				<p:column headerText="#{studentBundle['stu_class']}">
					#{currentstudent.stu_class}
				</p:column>
				<p:column headerText="#{studentBundle['stu_grade']}">
					#{currentstudent.stu_grade}
				</p:column>
			</p:dataTable>
		</p:panel>
	</ui:define>
	</ui:composition>
</html>
