<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/teacher.xhtml">
	<ui:define name="title">#{bundle['application.teacher.teacher_lookup']}</ui:define>

	<ui:define name="css"> 
	<style type="text/css">
	.output {
		display:block;
		width:61px;
	}
	
	.input {
		width:60px;
	}
	</style>
	</ui:define>
	<ui:define name="content">
		
		<h:form style="margin-left:20px">
		<!-- 如果用preRenderView 的话在渲染视图以后就会导致不能再次刷新 -->
		<p:remoteCommand actionListener="#{teacher_lookupBacking.init}" 
						autoRun="true" 
						update="results year semester"></p:remoteCommand>
		<p:panel header="#{bundle['application.condition']}" >
		<h:panelGrid columns="9">
		<h:outputText styleClass="output" value="#{archiveBundle['archive_year']}"  ></h:outputText>
		<p:selectOneMenu  id="year" styleClass="input"  value="#{archive.archive_year}" >
			<f:selectItems value="#{teacher_lookupBacking.yearList}"></f:selectItems>
		</p:selectOneMenu>
					
		<h:outputText styleClass="output" value="#{archiveBundle['archive_semester']}" />		
		<p:selectOneMenu id="semester" styleClass="input" value="#{archive.archive_semester}">
			<f:selectItem itemLabel="#{archiveBundle['archive_semester.first.string']}" itemValue="#{archiveBundle['archive_semester.first']}" ></f:selectItem>
			<f:selectItem itemLabel="#{archiveBundle['archive_semester.second.string']}" itemValue="#{archiveBundle['archive_semester.second']}"></f:selectItem>
		</p:selectOneMenu>
		
		<h:outputText styleClass="output" value="#{archiveBundle['archive_course_name']}" />
		<p:inputText styleClass="input" value="#{archive.archive_course_name}"/>
		
		<h:outputText styleClass="output" value="#{archiveBundle['archive_course_id_id']}"></h:outputText>
		<p:inputText styleClass="input" value="#{archive.archive_course_id_id}"/>
		
		<p:commandButton value="#{bundle['application.search']}" 
				actionListener="#{teacher_lookupBacking.search}" 
				ajax="true"
				update="results"></p:commandButton>
		</h:panelGrid>	
		</p:panel>
		
		<p:panel id="results" header="#{bundle['application.results']}">
		<h:panelGroup  >
		<p:dataTable id="archiveTable"
					rendered="#{not empty teacher_lookupBacking.archiveList}"
					value="#{teacher_lookupBacking.archiveList}"
					var="currentArchiveInfo"
					scrollable="true"
					scrollHeight="400"
					>
			<p:column headerText="#{archiveBundle['archive_year']}">
				#{currentArchiveInfo.archive_year}
			</p:column>			
			<p:column  headerText="#{archiveBundle['archive_semester']}">
				#{currentArchiveInfo.archive_semester}
			</p:column>	
			<p:column  headerText="#{archiveBundle['archive_course_id_id']}">
				#{currentArchiveInfo.archive_course_id_id}
			</p:column>				
			<p:column  headerText="#{archiveBundle['archive_course_num']}">
				#{currentArchiveInfo.archive_course_num}
			</p:column>						
			<p:column headerText="#{archiveBundle['archive_course_name']}">
				#{currentArchiveInfo.archive_course_name}
			</p:column>			
			<p:column headerText="#{archiveBundle['archive_class']}">
				#{currentArchiveInfo.archive_class}
			</p:column>			
			<p:column headerText="#{archiveBundle['archive_teacher']}">
				#{currentArchiveInfo.archive_teacher}
			</p:column>		
			<p:column headerText="#{archiveBundle['archive_dept']}">
				#{currentArchiveInfo.archive_dept}
			</p:column>		
			<p:column  headerText="#{archiveBundle['archive_status']}">
				#{currentArchiveInfo.archive_status}
			</p:column>		
			<p:column headerText="#{bundle['application.operation']}"> 
			<h:commandLink value="${bundle['application.checkout']}"
					action="#{teacher_lookupBacking.checkoutArchive}"
			>
				<f:setPropertyActionListener target="#{teacher_lookupBacking.archive_id}" value="#{currentArchiveInfo.archive_id}"></f:setPropertyActionListener>
			</h:commandLink>
			
			</p:column>
		</p:dataTable>			
		</h:panelGroup>	
		</p:panel>
		</h:form>
	
	</ui:define>
	</ui:composition>
</html>

<!--
	<ui:define name="metadata" >
		<f:metadata>
		 	<f:event listener="#{teacher_lookupBacking.init}" type="preRenderView"></f:event> 
		</f:metadata>
	</ui:define>
-->	
