<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
<ui:composition template="/templates/teacher.xhtml">
	<ui:define name="title">#{bundle['application.teacher.teacher_editArchive']}</ui:define>
	<ui:define name="metadata">
		<f:event listener="#{teacher_editArchiveBacking.init}" type="preRenderView"></f:event>	
	</ui:define>
	<ui:define name="content" >
	<h:form>
	<p:panel header="#{bundle['application.teacher.teacher_editArchive']}">
		<p:dataTable 
					value="#{teacher_editArchiveBacking.archiveList}"
					var="currentArchive"
					scrollable="true"
					scrollHeight="400"
					>
		<p:column headerText="#{archiveBundle['archive_year']}">
			#{currentArchive.archive_year}		
		</p:column>
		<p:column headerText="#{archiveBundle['archive_semester']}">
			#{currentArchive.archive_semester}		
		</p:column>
		<p:column headerText="#{archiveBundle['archive_course_id_id']}">
			#{currentArchive.archive_course_id_id}		
		</p:column>
		<p:column headerText="#{archiveBundle['archive_course_num']}">
			#{currentArchive.archive_course_num}		
		</p:column>
		<p:column headerText="#{archiveBundle['archive_course_name']}">
			#{currentArchive.archive_course_name}		
		</p:column>
		<p:column headerText="#{archiveBundle['archive_class']}">
			#{currentArchive.archive_class}		
		</p:column>
		<p:column headerText="#{archiveBundle['archive_teacher']}">
			#{currentArchive.archive_teacher}		
		</p:column>
		<p:column headerText="#{archiveBundle['archive_dept']}">
			#{currentArchive.archive_dept}		
		</p:column>
		<p:column headerText="#{bundle['application.operation']}">
			<h:commandLink value="#{bundle['application.edit']}" 
				action="#{teacher_editArchiveBacking.edit}">
				<f:setPropertyActionListener 
				target="#{teacher_editArchiveBacking.archive_id}" 
				value="#{currentArchive.archive_id}" />
			</h:commandLink>		
		</p:column>
		</p:dataTable>
	
	
	</p:panel>
	</h:form>
	</ui:define>

</ui:composition>
</html>
