<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title">#{bundle['application.secretary.secretary_checkFile.reject']}</ui:define>
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="archive_id"
				value="#{archive_rejectBacking.archive_id}"
				required="true"
				requiredMessage="需要档案号"
			></f:viewParam>
		</f:metadata>
	</ui:define>
	<ui:define name="content">
	<h:form style="width:250px;margin:0 auto 0 auto;">
	<h:outputText value="您退回了档案，请输入原因"></h:outputText>
	<h:panelGrid columns="1">
	<p:inputTextarea value="#{archive_rejectBacking.note}" rows="5" cols="30" counter="display" maxlength="80" counterTemplate="还可以输入{0}个字符" autoResize="false" />
    </h:panelGrid>
    <h:panelGrid columns="1">
    <h:outputText id="display" />
    </h:panelGrid>
	<p:commandButton value="#{bundle['application.finish']}" action="#{archive_rejectBacking.addNote}"></p:commandButton>
	</h:form>
	</ui:define>
	</ui:composition>
</html>
