<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title">#{bundle['application.secretary.secretary_checkFile.archive_info']}</ui:define>
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="archive_id" 
			value="#{archive_infoBacking.archive_id}"
			required="true"
			requiredMessage="需要档案号"></f:viewParam>		
			<f:event listener="#{archive_infoBacking.init}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content" >
	
	<h:form>
	<p:panel header="#{bundle['application.secretary.secretary_checkFile.archive_info']}">
	<p:messages id="msg" showDetail="true"></p:messages>
		<h:panelGrid columns="2">
		
		<h:outputText value="#{archiveBundle['archive_year']}" style="font-weight:bold" ></h:outputText>
		<h:outputText value="#{archive.archive_year}" ></h:outputText>
		
		<h:outputText value="#{archiveBundle['archive_semester']}" style="font-weight:bold"></h:outputText>
		<h:outputText value="#{archive.archive_semester}" ></h:outputText>
		
		<h:outputText value="#{archiveBundle['archive_course_name']}" style="font-weight:bold" ></h:outputText>
		<h:outputText value="#{archive.archive_course_name}" ></h:outputText>
		
		<h:outputText value="#{archiveBundle['archive_teacher']}" style="font-weight:bold" ></h:outputText>
		<h:outputText value="#{archive.archive_teacher}" ></h:outputText>
		
		<h:outputText value="#{archiveBundle['archive_calender']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{archive_infoBacking.calender}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_a']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{archive_infoBacking.blank_paper_a}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_b']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{archive_infoBacking.blank_paper_b}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_aa']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{archive_infoBacking.blank_paper_aa}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_bb']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{archive_infoBacking.blank_paper_bb}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_analysis']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{archive_infoBacking.analysis}"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_answer']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{archive_infoBacking.answer}"></p:fileDownload>
		</p:commandButton>
		</h:panelGrid>
		
		<h:panelGrid columns="1">
			<h:panelGroup>
			<h:outputText value="#{archiveBundle['archive_transcript']}" />
			<ui:repeat var="currentTranscript" 
			value="#{archive_infoBacking.transcriptList}"
			varStatus="status" >
			<p:commandButton value="#{bundle['application.file']} #{status.index + 1}" ajax="false">
				<p:fileDownload value="#{currentTranscript}"></p:fileDownload>
			</p:commandButton>
			</ui:repeat>
			</h:panelGroup>
		
			<h:panelGroup>
			<h:outputText value="#{archiveBundle['archive_regular_grade']}" />
			<ui:repeat var="currentRegularGrade" 
			value="#{archive_infoBacking.regularGradeList}"
			varStatus="status" >
			<p:commandButton value="#{bundle['application.file']} #{status.index + 1}" ajax="false">
				<p:fileDownload value="#{currentRegularGrade}"></p:fileDownload>
			</p:commandButton>
			</ui:repeat>
			</h:panelGroup>
		</h:panelGrid>
		</p:panel>
		<h:panelGroup>
			<p:dataTable 
				rendered="#{not empty archive_infoBacking.stuList}"
				value="#{archive_infoBacking.stuList}"
				var="stu">
				<f:facet name="header">
				#{studentBundle['stu_title']}
				</f:facet>
			<p:column headerText="#{studentBundle['stu_id']}">
					#{stu.stu_id}
				</p:column>			
				<p:column headerText="#{studentBundle['stu_name']}">
					#{stu.stu_name}
				</p:column>
				<p:column headerText="#{studentBundle['stu_class']}">
					#{stu.stu_class}
				</p:column>
				<p:column headerText="#{studentBundle['stu_grade']}">
					#{stu.stu_grade}
				</p:column>
			</p:dataTable>
		</h:panelGroup>	
	
	
	
	
	<h:panelGrid columns="3">
	<p:commandButton value="#{bundle['application.approve']}"  action="#{archive_infoBacking.approve}"></p:commandButton>
	<p:commandButton value="#{bundle['application.reject']}"  action="#{archive_infoBacking.reject}"></p:commandButton>
	<p:button value="#{bundle['application.return']}" outcome="/secretary/secretary_checkArchive"></p:button>
	</h:panelGrid>
	</h:form>
	
	
	</ui:define>
	</ui:composition>
</html>
