<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" lang="en">
	<h:head>
		<title><ui:insert name="title" ></ui:insert></title>
		<ui:insert name="metadata"></ui:insert>
		<style type="text/css">
				body {
					margin:0;
					padding:0;
					font-family: Arial;
					font-size: 11px;
				}
		</style>
	<ui:insert name="js" ></ui:insert>
	
	</h:head>
	<h:body>
			<ui:insert name="content"></ui:insert>
	</h:body>
</html>
