<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	<h:head>
		<title><ui:insert name="title" /></title>
		<link href="#{request.contextPath}/css/login.css" rel="stylesheet" type="text/css" />
		    
		<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
    </h:head>
	<h:body>
		<div id="container" >
		<!-- <div id="top">
			 <img id="top-left" src="../image/top-left.jpg" /><img id="top-right" src="../image/top-right.jpg" /> 
			 </div> -->
			<div id="content">
			<p style="font-size:14px" ><ui:insert name="welcome"></ui:insert></p>
			
			<ui:insert name="form"></ui:insert>
			
			</div>
			<!--<div id="bottom" >#{bundle['application.templates.login.copyright'] }</div> -->
		</div>
	</h:body>
</html>
