<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" lang="en">
	<h:head>
		<title><ui:insert name="title" /></title>
		<link href="#{request.contextPath}/css/head.css" rel="stylesheet" type="text/css" />
		<ui:insert name="css"></ui:insert>
		<ui:insert name="js"></ui:insert>
		<ui:insert name="metadata"></ui:insert>
		
		<!--<link rel="stylesheet" type="text/css" href="styles.css">-->
    </h:head>
	<h:body>
	<p:layout fullPage="true">
	<p:layoutUnit position="north" size="119">
	<p:panel header="学生档案管理系统（教师入口）">
	<div id="top_line" >
		<div id="logo"></div> 
		<h:form>
			<label> 欢迎光临|#{teacher_name}<h:commandLink value="注销" action="#{teacher_loginBacking.logout}" /></label>
		</h:form>
	</div>
	</p:panel>
	</p:layoutUnit>

<p:layoutUnit position="west" size="170">

	<h:form>
 	<p:menu toggleable="true">
        <p:submenu label="#{bundle['application.archiveManage']}">
            <p:menuitem styleClass="navi" value="#{bundle['application.teacher.teacher_createArchive']}" outcome="/teacher/teacher_createArchive"/>
			<p:menuitem styleClass="navi" value="#{bundle['application.teacher.teacher_editArchive']}" outcome="/teacher/teacher_editArchive" />
			<p:menuitem styleClass="navi" value="#{bundle['application.teacher.teacher_lookup']}" outcome="/teacher/teacher_lookup" />
        </p:submenu>
        <p:submenu label="#{bundle['application.personalInfoManage']}">
			<p:menuitem styleClass="navi" value="#{bundle['application.teacher.teacher_password']}" outcome="/teacher/teacher_password" />
        </p:submenu>
    </p:menu>
	</h:form>

</p:layoutUnit>

<p:layoutUnit position="center"  >
<div id="basicFrame" ><ui:insert name="content" /></div>
</p:layoutUnit>
</p:layout>

	</h:body>
</html>

