<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title">#{bundle['application.secretary.secretary_fileStore.ab_manage']}</ui:define>
	<ui:define name="metadata">
		<f:event listener="#{ab_manageBacking.init}" type="preRenderView"></f:event>
	</ui:define>
	<ui:define name="content">
	<h:form id="form">
	<p:panel header="#{bundle['application.secretary.secretary_fileStore.ab_manage']}">
		
		<p:growl id="msg" globalOnly="true" showDetail="true" ></p:growl>
		<p:dataTable value="#{ab_manageBacking.boxList}" 
					editable="true"
					var="ab"
					>
		<p:ajax event="rowEdit" listener="#{ab_manageBacking.onRowEdit}" update=":form:msg "/>
		<p:ajax event="rowEditCancel" listener="#{ab_manageBacking.onRowCancel}" update=":form:msg "/>
		
		<p:column headerText="#{archive_boxBundle['ab_num']}">
				#{ab.ab_num}
		</p:column>
		
		<p:column headerText="#{archive_boxBundle['ab_side']}">
				#{ab.ab_side}
		</p:column>
					
		<p:column headerText="#{archive_boxBundle['ab_year']}" >
			<p:cellEditor>
			<f:facet name="output"><h:outputText value="#{ab.ab_year}" /></f:facet>
			<f:facet name="input">
			<h:selectOneMenu value="#{ab.ab_year}" >
				<f:selectItem itemLabel=""
									itemValue="" />
				<f:selectItems value="#{ab_manageBacking.yearList}" 
				var="year" itemLabel="#{year}" itemValue="#{year}"/>
				
			</h:selectOneMenu>
			</f:facet>
			</p:cellEditor>
		</p:column>			
					
		<p:column headerText="#{archive_boxBundle['ab_semester']}">
			<p:cellEditor>
			<f:facet name="output"><h:outputText value="#{ab.ab_semester}" /> </f:facet>
			<f:facet name="input" >
				<h:selectOneMenu value="#{ab.ab_semester}">
					<f:selectItem itemLabel=""
									itemValue="" />
					<f:selectItem itemLabel="#{archiveBundle['archive_semester.first']}"
									itemValue="#{archiveBundle['archive_semester.first']}" />
					<f:selectItem itemLabel="#{archiveBundle['archive_semester.second']}" 
									itemValue="#{archiveBundle['archive_semester.second']}"/>
				</h:selectOneMenu>
			</f:facet>
			</p:cellEditor>
		</p:column>			
		
		<p:column headerText="#{archive_boxBundle['ab_enroll']}">
			<p:cellEditor>
			<f:facet name="output"><h:outputText value="#{ab.ab_enroll}" /></f:facet>
			<f:facet name="input">
				<h:selectOneMenu value="#{ab.ab_enroll}">
					<f:selectItem itemLabel=""
									itemValue="" />
					<f:selectItem itemLabel="#{archiveBundle['archive_enroll.first']}"
									itemValue="#{archiveBundle['archive_enroll.first']}" />
					<f:selectItem itemLabel="#{archiveBundle['archive_enroll.third']}"
									itemValue="#{archiveBundle['archive_enroll.third']}" />
				</h:selectOneMenu>
			</f:facet>
			</p:cellEditor>
		</p:column>
		
		
	   <p:column style="width:32px">
           <p:rowEditor />
       </p:column>
		
		</p:dataTable>
		<p:commandButton value="#{bundle['application.processData']}" actionListener="#{ab_manageBacking.process}" onclick="PF('pb1').start()"/>
		<p:progressBar widgetVar="pb1" ajax="true" value="#{ab_manageBacking.progress}" labelTemplate="{value}%" interval="1000"/>
	</p:panel>
	</h:form>
	
	
	</ui:define>
	</ui:composition>
</html>
