<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	<ui:composition>
	<h:form>
		<p:panel header="文件下载">
		
		<p:messages showDetail="true"></p:messages>
		<h:panelGrid columns="2">
		
		<h:outputText value="#{archiveBundle['archive_year']}" style="font-weight:bold" ></h:outputText>
		<h:outputText value="#{archive.archive_year}" ></h:outputText>
		
		<h:outputText value="#{archiveBundle['archive_semester']}" style="font-weight:bold"></h:outputText>
		<h:outputText value="#{archive.archive_semester}" ></h:outputText>
		
		<h:outputText value="#{archiveBundle['archive_course_name']}" style="font-weight:bold" ></h:outputText>
		<h:outputText value="#{archive.archive_course_name}" ></h:outputText>
		
		<h:outputText value="#{archiveBundle['archive_teacher']}" style="font-weight:bold" ></h:outputText>
		<h:outputText value="#{archive.archive_teacher}" ></h:outputText>
		
		<h:outputText value="#{archiveBundle['archive_calender']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{secretary_archiveInfoBacking.calender}" contentDisposition="inline"></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_a']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{secretary_archiveInfoBacking.blank_paper_a}"  contentDisposition="inline" ></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_b']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{secretary_archiveInfoBacking.blank_paper_b}"  contentDisposition="inline" ></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_aa']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{secretary_archiveInfoBacking.blank_paper_aa}"  contentDisposition="inline" ></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_blank_paper_bb']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{secretary_archiveInfoBacking.blank_paper_bb}" contentDisposition="inline" ></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_analysis']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{secretary_archiveInfoBacking.analysis}"  contentDisposition="inline" ></p:fileDownload>
		</p:commandButton>
		
		<h:outputText value="#{archiveBundle['archive_answer']}" />
		<p:commandButton value="#{bundle['application.download']}" ajax="false">
			<p:fileDownload value="#{secretary_archiveInfoBacking.answer}" contentDisposition="inline" ></p:fileDownload>
		</p:commandButton>
		</h:panelGrid>
		
		<h:panelGrid columns="1">
			<h:panelGroup>
			<h:outputText value="#{archiveBundle['archive_transcript']}" />
			<ui:repeat var="currentTranscript" 
			value="#{secretary_archiveInfoBacking.transcriptList}"
			varStatus="status" >
			<p:commandButton value="#{bundle['application.file']} #{status.index + 1}" ajax="false">
				<p:fileDownload value="#{currentTranscript}" contentDisposition="inline"  ></p:fileDownload>
			</p:commandButton>
			</ui:repeat>
			</h:panelGroup>
		
			<h:panelGroup>
			<h:outputText value="#{archiveBundle['archive_regular_grade']}" />
			<ui:repeat var="currentRegularGrade" 
			value="#{secretary_archiveInfoBacking.regularGradeList}"
			varStatus="status" >
			<p:commandButton value="#{bundle['application.file']} #{status.index + 1}" ajax="false">
				<p:fileDownload value="#{currentRegularGrade}" contentDisposition="inline"  ></p:fileDownload>
			</p:commandButton>
			</ui:repeat>
			</h:panelGroup>
		</h:panelGrid>
		
		</p:panel>
		

	</h:form>
			<p:panel header="#{studentBundle['stu_title']}">
			<p:dataTable value="#{secretary_archiveInfoBacking.stuList}" var="currentstudent" 
						emptyMessage="#{studentBundle['stu_emptyMessage']}" >
				<p:column headerText="#{studentBundle['stu_id']}">
					#{currentstudent.stu_id}
				</p:column>			
				<p:column headerText="#{studentBundle['stu_name']}">
					#{currentstudent.stu_name}
				</p:column>
				<p:column headerText="#{studentBundle['stu_class']}">
					#{currentstudent.stu_class}
				</p:column>
				<p:column headerText="#{studentBundle['stu_grade']}">
					#{currentstudent.stu_grade}
				</p:column>
			</p:dataTable>
		</p:panel>
	
	
	</ui:composition>
</html>

<!-- 
		<h:panelGroup>
			<c:if test="#{requestScope.store_flag ne true}">
			<p:button value="#{bundle['application.return']}" outcome="/secretary/secretary_archiveQuery" />
			</c:if>
		</h:panelGroup>
		 -->
