<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	<ui:composition>
	

	<p:ajaxStatus  >
	<f:facet name="start">
		<p:graphicImage value="/image/loader.gif" style="width:64px;height:64px;position:fixed;right:5px;bottom:5px" />
	</f:facet>
	</p:ajaxStatus>
	
	<p:growl  id="messages" showDetail="true" />
	<h:form id="queryCondition" style="margin-left:0px">
		
		<p:panel header="#{bundle['application.secretary.secretary_fileQuery']}">
		<h:panelGrid columns="8">
		<h:outputText id="archive_year" styleClass="outputText" value="#{archiveBundle['archive_year']}" />		
		<p:selectOneMenu  id="year" styleClass="input"  value="#{archive.archive_year}" >
			<f:selectItems value="#{secretary_archiveStoreBacking.yearList}"></f:selectItems>
		</p:selectOneMenu>
		
		<h:outputText id="archive_semester" styleClass="outputText" value="#{archiveBundle['archive_semester']}" />		
		<p:selectOneMenu id="semester" styleClass="input" value="#{archive.archive_semester}">
			<f:selectItem itemLabel="#{archiveBundle['archive_semester.first.string']}" itemValue="#{archiveBundle['archive_semester.first']}" ></f:selectItem>
			<f:selectItem itemLabel="#{archiveBundle['archive_semester.second.string']}" itemValue="#{archiveBundle['archive_semester.second']}"></f:selectItem>
		</p:selectOneMenu>
		
		<h:outputText id="archive_enroll" styleClass="outputText" value="#{archiveBundle['archive_enroll']}" />		
		<p:selectOneMenu id="enroll" styleClass="input" value="#{archive.archive_enroll}">
			<f:selectItem itemLabel="#{archiveBundle['archive_enroll.first']}" itemValue="#{archiveBundle['archive_enroll.first']}" ></f:selectItem>
			<f:selectItem itemLabel="#{archiveBundle['archive_enroll.third']}" itemValue="#{archiveBundle['archive_enroll.third']}"></f:selectItem>
		</p:selectOneMenu>
		
		<h:outputText  id="archive_course_name" styleClass="outputText" value="#{archiveBundle['archive_course_name']}" />
		<p:inputText styleClass="inputText" value="#{archive.archive_course_name}" />
		
		<h:outputText id="archive_course_id_id"  styleClass="outputText" value="#{archiveBundle['archive_course_id_id']}"></h:outputText>
		<p:inputText styleClass="inputText" value="#{archive.archive_course_id_id}" />
		
		<h:outputText  id="archive_teacher" styleClass="outputText" value="#{archiveBundle['archive_teacher']}"></h:outputText>
		<p:inputText styleClass="inputText" value="#{archive.archive_teacher}" />
		
		<h:outputText  id="archive_class" styleClass="outputText" value="#{archiveBundle['archive_class']}"></h:outputText>
		<p:inputText styleClass="inputText" value="#{archive.archive_class}" />
		
		<p:commandButton value="#{bundle['application.search']}" 
						widgetVar="queryButton"
						actionListener="#{secretary_archiveStoreBacking.bringupBoxByQuery}" 
						ajax="true"
						process="@form"
						onstart=""
						update=":archive_box :messages"
						/>	
		</h:panelGrid>	
		</p:panel>
		</h:form>
		 
	
		<h:panelGroup id="container">
		
		<p:fieldset id="archive_sideBox" widgetVar="sideBox" legend="档案柜"  toggleable="true">
			<h:form>
			<h:panelGroup>
			<ui:repeat value="#{secretary_archiveStoreBacking.sideBoxList}" var="sideBox">
					<h:panelGroup  style="float:left;width:84px;margin-left:4px;margin-top:15px;position:relative" >
					
					<p:commandButton id="boxButton1" value="123"    
					 escape="false" style="height:270px;width:40px;float:left"
					 actionListener="#{secretary_archiveStoreBacking.bringupBox}"
					 ajax="true"
					 process="@form"
					 update=":archive_box"
					 onclick="PF('sideBox').toggle();PF('box').toggle();"
					 global="true">
						 <f:param name="ab_id" value="#{sideBox.boxList[0].ab_id}"></f:param>   
					 </p:commandButton>
					
					 <p:graphicImage value="/image/box.gif" width="80" height="201" style="float:left;position:absolute;left:0px;top:0px;z-index:3;"></p:graphicImage>
					
					<h:outputText value="#{sideBox.boxList[0].ab_year} #{secretary_archiveStoreBacking.changeLine} - #{secretary_archiveStoreBacking.changeLine}  #{sideBox.boxList[0].ab_semester} #{secretary_archiveStoreBacking.changeLine}  #{sideBox.boxList[0].ab_enroll}" 
					escape="false"
					style="float:left;position:absolute;left:10px;top:20px;z-index:3;font-weight:bold;font-size:xx-small;"></h:outputText>
					<h:outputText value="#{sideBox.boxList[1].ab_year} #{secretary_archiveStoreBacking.changeLine} - #{secretary_archiveStoreBacking.changeLine}  #{sideBox.boxList[1].ab_semester} #{secretary_archiveStoreBacking.changeLine}  #{sideBox.boxList[1].ab_enroll}" 
					escape="false"
					style="float:left;position:absolute;left:30px;top:20px;z-index:3;font-weight:bold;font-size:xx-small;"></h:outputText>
					<p:commandButton id="boxButton2" value="123" 
					 escape="false" style="height:270px;width:40px;float:left" 
					 actionListener="#{secretary_archiveStoreBacking.bringupBox}"
					 ajax="true"
					 process="@form"
					 update=":archive_box"
					 onclick="PF('sideBox').toggle();PF('box').toggle();"
					 global="true">
						 <f:param name="ab_id" value="#{sideBox.boxList[1].ab_id}"></f:param>   
					 </p:commandButton>
					
					</h:panelGroup>
			</ui:repeat>
			</h:panelGroup>
			</h:form>
		</p:fieldset>
		
		
		
		<p:fieldset id="archive_box" legend="学年： #{secretary_archiveStoreBacking.currentBox.ab_year} 学期： #{secretary_archiveStoreBacking.currentBox.ab_semester} 录取批次：  #{secretary_archiveStoreBacking.currentBox.ab_enroll}"
		 widgetVar="box" toggleable="true">
			<h:form>
				<ui:repeat var="row" value="#{secretary_archiveStoreBacking.currentBox.rowList}" >
							<h:panelGrid columns="3">
							<h:panelGroup style="display:block;width:320px;">
							<p:panel header="#{row.innerBoxList[0].aib_dept}">
							
							<p:graphicImage value="/image/archive.jpg"
									width="0"
									height="#{secretary_archiveStoreBacking.height}"
							/>
							
							<p:commandLink actionListener="#{secretary_archiveStoreBacking.bringupInnerBox}"  
							update=":archive_inner_box"
							style="margin-right:5px;" 
							onclick="PF('box').toggle();PF('innerBox').toggle();" 
							global="true">
								<f:param name="aib_id" value="#{row.innerBoxList[0].aib_id}" />
								<ui:repeat var="currentArchive" value="#{row.innerBoxList[0].archiveList}">
								<h:panelGroup style="position:relative;">
								<h:outputText  value=".#{secretary_archiveStoreBacking.changeLine}.#{secretary_archiveStoreBacking.changeLine}."  escape="false" >
								<f:passThroughAttribute name="style" value="margin-top:1px;font-weight:bold;width:1px;position:absolute;left:#{currentArchive.archive_thickness *1.2}px;;text-weight:bold;"></f:passThroughAttribute>
								</h:outputText>
								</h:panelGroup>
								<p:graphicImage id="image" value="/image/archive.jpg" 
									width="#{currentArchive.archive_thickness * 2}"
									height="#{secretary_archiveStoreBacking.height}"
									>
									<f:passThroughAttribute name="style" value="#{currentArchive.archive_style}"></f:passThroughAttribute>
									</p:graphicImage>
								<h:panelGroup rendered="#{row.innerBoxList[0].aib_dept ne '毕业设计'}">
									<p:tooltip for="image" escape="false" value="#{currentArchive.archive_tooltip}"/>
								</h:panelGroup>
								</ui:repeat>
							</p:commandLink>
							</p:panel>
							</h:panelGroup>		
							
							<h:panelGroup style="display:block;width:320px;">
							<p:panel header="#{row.innerBoxList[1].aib_dept}">
							<p:graphicImage value="/image/archive.jpg" 
									width="0"
									height="#{secretary_archiveStoreBacking.height}"
									style="margin-right:1px;
									-moz-opacity:0.3;
									-khtml-opacity:0.3;
									Opacity:0.3;
									Filter:alpha(opacity=30);z-index: 999;
									outline:none;"
									/>
							<p:commandLink  style="margin-right:5px;" 
									update=":archive_inner_box"
									actionListener="#{secretary_archiveStoreBacking.bringupInnerBox}"  
									ajax="true" 
									onclick="PF('box').toggle();PF('innerBox').toggle();" 
									global="true">
							<f:param name="aib_id" value="#{row.innerBoxList[1].aib_id}" />
							<ui:repeat var="currentArchive" value="#{row.innerBoxList[1].archiveList}">
								<h:panelGroup style="position:relative;">
								<h:outputText  value=".#{secretary_archiveStoreBacking.changeLine}.#{secretary_archiveStoreBacking.changeLine}."  escape="false" >
								<f:passThroughAttribute name="style" value="margin-top:1px;font-weight:bold;width:1px;position:absolute;left:#{currentArchive.archive_thickness *1.2}px;;text-weight:bold;"></f:passThroughAttribute>
								</h:outputText>
								</h:panelGroup>
								<p:graphicImage id="image" value="/image/archive.jpg" 
								width="#{currentArchive.archive_thickness * 2.8}"
								height="#{secretary_archiveStoreBacking.height}"
								>
								<f:passThroughAttribute name="style" value="#{currentArchive.archive_style}"></f:passThroughAttribute>
								</p:graphicImage>
					
							<p:tooltip for="image" escape="false" value="#{currentArchive.archive_tooltip}"/>
							
							</ui:repeat>
							</p:commandLink>	
							</p:panel>
							</h:panelGroup>	
							
							<h:panelGroup style="display:block;width:320px;">
							<p:panel header="#{row.innerBoxList[2].aib_dept}">
							<p:graphicImage value="/image/archive.jpg" 
									width="0"
									height="#{secretary_archiveStoreBacking.height}"
									/>
							
							<p:commandLink 
							process="@this"
							actionListener="#{secretary_archiveStoreBacking.bringupInnerBox}" 
							update=":archive_inner_box" 
							ajax="true" 
							onclick="PF('box').toggle();PF('innerBox').toggle();"  
							global="true"
							style="margin-right:5px;">
								<f:param name="aib_id" value="#{row.innerBoxList[2].aib_id}" />
								<ui:repeat var="currentArchive" value="#{row.innerBoxList[2].archiveList}">
									<h:panelGroup style="position:relative;">
									<h:outputText  value=".#{secretary_archiveStoreBacking.changeLine}.#{secretary_archiveStoreBacking.changeLine}."  escape="false" >
									<f:passThroughAttribute name="style" value="margin-top:1px;font-weight:bold;width:1px;position:absolute;left:#{currentArchive.archive_thickness *1.2}px;;text-weight:bold;"></f:passThroughAttribute>
									</h:outputText>
									</h:panelGroup>
									<p:graphicImage id="image" value="/image/archive.jpg" 
									width="#{currentArchive.archive_thickness * 2.8}"
									height="#{secretary_archiveStoreBacking.height}"
									>
									<f:passThroughAttribute name="style" value="#{currentArchive.archive_style}" ></f:passThroughAttribute>
									</p:graphicImage>
								<p:tooltip for="image" escape="false" value="#{currentArchive.archive_tooltip}"/>
								
								</ui:repeat>
							
							</p:commandLink>	
							</p:panel>
						</h:panelGroup>	
						</h:panelGrid>
						
				</ui:repeat>
				</h:form>
		</p:fieldset>
		
		
		<p:fieldset id="archive_inner_box" legend="#{secretary_archiveStoreBacking.innerBox.aib_dept}" widgetVar="innerBox" toggleable="true">
		<h:form>
			<h:panelGroup style="float:left;display:block;width:970px;">
			
				<ui:repeat var="currentArchive" value="#{secretary_archiveStoreBacking.innerBox.archiveList}">
					<p:commandLink  actionListener="#{secretary_archiveStoreBacking.openDialog}" >
					<f:param name="archive_id" value="#{currentArchive.archive_id}"></f:param>
					<h:panelGrid columns="1" style="float:left;position:relative;">					
					<p:graphicImage id="image" value="/image/archive.jpg" 
					width="#{currentArchive.archive_thickness * 20}"
					height="#{secretary_archiveStoreBacking.height *10}"
					style="" >
					</p:graphicImage>
					<h:panelGroup rendered="#{secretary_archiveStoreBacking.innerBox.aib_dept ne '毕业设计'}">
					<p:tooltip for="image" escape="false" value="#{currentArchive.archive_tooltip}" trackMouse="true"/>
					<h:outputText value="#{currentArchive.archive_course_name_vertical}" escape="false">
					<f:passThroughAttribute name="style" value="margin-top:10px;font-weight:bold;width:1px;position:absolute;left:#{currentArchive.archive_thickness * 10}px;bottom:300px;text-weight:bold;"></f:passThroughAttribute>
					</h:outputText>
					</h:panelGroup>
					</h:panelGrid>
					</p:commandLink>
				</ui:repeat>
			</h:panelGroup>			
		</h:form>
		</p:fieldset>
	</h:panelGroup>
	</ui:composition>
</html>
