<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	<ui:composition template="/templates/fullPage.xhtml">
	<ui:define name="title" >
	#{bundle['application.secretary.secretary_fileStore']}
	</ui:define>
	<ui:define name="metadata">
		<f:metadata>
			<f:event listener="#{secretary_archiveStoreBacking.init}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="css">
	<style type="text/css">
		.outputText {
			display:block;
			width:70px;
		}
		.inputText {
			width:90px;
		}
		.ui-growl {
			left:20px;
		}
	</style>
	</ui:define>
	<ui:define name="content">
	<ui:include src="composite_archiveStore.xhtml"></ui:include>
	</ui:define>
	</ui:composition>
</html>
