@CHARSET "UTF-8";


body{
	margin:0px;
	padding:0px;
	font-family: Arial;
	font-size: 11px;
	
}


#logo {
	width:304px;
	height:66px;
	background:url(../image/hustLogo.jpg);
	float:left;
	/*background:red;*/
}

#top_line {
	width:100%;
	height:64px;
	/*background-image:url(../image/head/top-bg.jpg);*/
	/*background:url(../image/stamp.jpg);*/
}


#top_line label {
	float:right;
	margin-right:10px;
	
}

#top_line label a {
	text-decoration:none;
}


#basicFrame {
	width:780px;
	padding:0 30px 0 30px;
	margin:0px auto 0px auto;
	/*background:url(../image/stamp.jpg);*/
	/*border: 1px black solid;*/
	
}


.errorMessage {
 font-size: 12px;
 color: red;
 font-family: sans-serif;
}

.ui-growl {
	top:80px;
	left:350px;
}