@CHARSET "UTF-8";

body {
	margin:0;
	padding:0;
	font-family: Arial;
	font-size: 11px;
}



#container {
	width:760px;
	height:auto;
	margin-left: auto;
	margin-right: auto;

}

#top {
	heigth:39px;
	width:500px;
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;

	font-size:10px;
	background-image:url(../image/bg-top.jpg);
	
	
}

#top-right {
	margin-left:378px;
}


#content {
	margin-top:100px;
	padding:50px;
	width:400px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../image/stamp.jpg);
	font-size:11px;
	border-top:1px solid black;
	border-left:1px solid black;
	border-right:1px solid black;
	border-bottom:1px solid black;
}

#newUser {
	margin-left:60px;
}

.button {
	
	margin-top:10px;
	width:90px;
}

#bottom {
	margin-left:auto;
	margin-right:auto;
	width:500px;
	height:27px;
	font-size:11px;
	background-image:url(../image/bg-bottom.jpg);
	border-left:1px solid black;
	border-right:1px solid black;
	text-align:center;
	line-height:30px;
}

#bottom-right {
	margin-left:129px;
}

.invalidInput {
 background-color: red;
 color: white;
}

.errorMessage {
 font-size: 12px;
 color: red;
 font-family: sans-serif;
}
