<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title" >#{bundle['application.secretary.secretary_filePersist']}</ui:define>
	<ui:define name="metadata"> 
		<f:metadata>
			<f:event listener="#{secretary_archivePersistBacking.init}" type="preRenderView"></f:event>
		</f:metadata>
	</ui:define>
	<ui:define name="content" >
		<h:form>
		<h:panelGrid columns="1">
			
			<p:dataTable id="table"  var="currentArchive"  value="#{secretary_archivePersistBacking.archiveYearSemesterList}">
				<f:facet name="header">
				#{bundle['application.secretary.secretary_filePersist']}（档案）
				</f:facet>
				<p:column headerText="#{archiveBundle['archive_year']}">
					<h:outputText value="#{currentArchive.archive_year}" ></h:outputText>
				</p:column>
				<p:column headerText="#{archiveBundle['archive_semester']}">
					<h:outputText value="#{currentArchive.archive_semester}" ></h:outputText>
				</p:column>
				<p:column headerText="#{bundle['application.operation']}">
					<p:commandButton value="#{bundle['application.download']}" action="#{secretary_archivePersistBacking.downloadFile}" ajax="false">
						<f:setPropertyActionListener target="#{secretary_archivePersistBacking.currentYear}" value="#{currentArchive.archive_year}"></f:setPropertyActionListener>
						<f:setPropertyActionListener target="#{secretary_archivePersistBacking.currentSemester}" value="#{currentArchive.archive_semester}"></f:setPropertyActionListener>
					</p:commandButton>
					
					<p:commandButton value="#{bundle['application.clearData']}" action="#{secretary_archivePersistBacking.clearArchiveData}" ajax="true" update=":messages table">
						<p:confirm header="警告" message="是否要删除此学期的所有数据？（此数据无法恢复）" icon="ui-icon-alert"/>
						<f:setPropertyActionListener target="#{secretary_archivePersistBacking.currentYear}" value="#{currentArchive.archive_year}"></f:setPropertyActionListener>
						<f:setPropertyActionListener target="#{secretary_archivePersistBacking.currentSemester}" value="#{currentArchive.archive_semester}"></f:setPropertyActionListener>
					</p:commandButton>

				</p:column>
			</p:dataTable>
			<h:outputText></h:outputText>
				<p:dataTable id="courseTable"  var="currentCourse"  value="#{secretary_archivePersistBacking.courseYearSemesterList}">
				<f:facet name="header">
				#{bundle['application.secretary.secretary_filePersist']} （课程清单）
				</f:facet>
				<p:column headerText="#{archiveBundle['archive_year']}">
					<h:outputText value="#{currentCourse.course_year}" ></h:outputText>
				</p:column>
				<p:column headerText="#{archiveBundle['archive_semester']}">
					<h:outputText value="#{currentCourse.course_semester}" ></h:outputText>
				</p:column>
				<p:column headerText="#{bundle['application.operation']}">
					<p:commandButton value="#{bundle['application.clearData']}" action="#{secretary_archivePersistBacking.clearCourseData}" ajax="true" update=":messages courseTable">
						<p:confirm header="警告" message="是否要删除此学期的所有数据？（此数据无法恢复）" icon="ui-icon-alert"/>
						<f:setPropertyActionListener target="#{secretary_archivePersistBacking.currentYear}" value="#{currentCourse.course_year}"></f:setPropertyActionListener>
						<f:setPropertyActionListener target="#{secretary_archivePersistBacking.currentSemester}" value="#{currentCourse.course_semester}"></f:setPropertyActionListener>
					</p:commandButton>

				</p:column>
			</p:dataTable>
			<h:outputText></h:outputText>
			<p:dataTable id="gdsTable"  var="currentGds"  value="#{secretary_archivePersistBacking.gdsYearList}">
				<f:facet name="header">
				#{bundle['application.secretary.secretary_filePersist']} （毕业设计情况统计表）
				</f:facet>
				<p:column headerText="#{archiveBundle['archive_year']}" width="66%" >
					<h:outputText value="#{currentGds.gds_year}" ></h:outputText>
				</p:column>
				<p:column headerText="#{bundle['application.operation']}">
					<p:commandButton value="#{bundle['application.clearData']}" action="#{secretary_archivePersistBacking.clearGdsData}" ajax="true" update=":messages gdsTable">
						<p:confirm header="警告" message="是否要删除此学期的所有数据？（此数据无法恢复）" icon="ui-icon-alert"/>
						<f:setPropertyActionListener target="#{secretary_archivePersistBacking.currentYear}" value="#{currentGds.gds_year}"></f:setPropertyActionListener>
					</p:commandButton>
				</p:column>
			</p:dataTable>
		</h:panelGrid>
			<p:confirmDialog global="true" >
				<p:commandButton value="是" type="button" styleClass="ui-confirmdialog-yes" 
				icon="ui-icon-check" style="margin-left:100px;"/>
				<p:commandButton value="否" type="button" styleClass="ui-confirmdialog-no" 
				icon="ui-icon-close"/>
			</p:confirmDialog>
			<p:growl id="messages" showDetail="true"></p:growl>
		</h:form>
		<p:growl id="messages" showDetail="true"/>
	</ui:define>
</ui:composition>
</html>
