<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="content">
	#{bundle['application.secretary.secretary_statisticReport']}
	</ui:define>
	<ui:define name="metadata" >
	<f:metadata>
		<f:event listener="#{secretary_statisticsSelectorBacking.init}" type="preRenderView"></f:event>
	</f:metadata>
	</ui:define>
	<ui:define name="content">
		<p:panel header="#{bundle['application.secretary.secretary_statisticReport']}">
			<h:form>
			<p:dataTable var="currentCourse"
			value="#{secretary_statisticsSelectorBacking.courseList}">
			<p:column headerText="#{archiveBundle['archive_year']}">
				#{currentCourse.course_year}
			</p:column>
			<p:column headerText="#{archiveBundle['archive_semester']}">
				#{currentCourse.course_semester}
			</p:column>
			<p:column headerText="#{bundle['application.operation']}">
				<h:commandLink 
				value="#{bundle['application.checkout']}" 
				action="#{secretary_statisticsSelectorBacking.checkout}"
				>
				<f:setPropertyActionListener 
				target="#{secretary_statisticsSelectorBacking.currentCourse}" 
				value="#{currentCourse}"></f:setPropertyActionListener>
				</h:commandLink>
			</p:column>
			</p:dataTable>
			</h:form>		
		</p:panel>	
	</ui:define>
	</ui:composition>
</html>
