<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title">#{bundle['application.secretary.secretary_paperLabel']}</ui:define>
	<ui:define name="metadata">
		<f:metadata>
			<f:event listener="#{secretary_paperLabelBacking.init}" type="preRenderView"></f:event>
		</f:metadata>	
	</ui:define>
	<ui:define name="content">
	<h:form>
	
		<p:dataTable var="course" value="#{secretary_paperLabelBacking.courseList}">
		<f:facet name="header">
			<h:outputText value="试卷标签"></h:outputText>
		</f:facet>
		<p:column headerText="#{archiveBundle['archive_year']}">
			<h:outputText value="#{course.course_year}"></h:outputText>
		</p:column>
		<p:column headerText="#{archiveBundle['archive_semester']}">
			<h:outputText value="#{course.course_semester}"></h:outputText>
		</p:column>
		<p:column>
		<p:commandButton value="按课程分" action="#{secretary_paperLabelBacking.downLoadFileCourse}" ajax="false">
			<f:setPropertyActionListener target="#{secretary_paperLabelBacking.selectedYear}" value="#{course.course_year}"></f:setPropertyActionListener>
			<f:setPropertyActionListener target="#{secretary_paperLabelBacking.selectedSemester}" value="#{course.course_semester}"></f:setPropertyActionListener>
		</p:commandButton>
		<p:commandButton value="按班级分" action="#{secretary_paperLabelBacking.downLoadFileClass}" ajax="false">
			<f:setPropertyActionListener target="#{secretary_paperLabelBacking.selectedYear}" value="#{course.course_year}"></f:setPropertyActionListener>
			<f:setPropertyActionListener target="#{secretary_paperLabelBacking.selectedSemester}" value="#{course.course_semester}"></f:setPropertyActionListener>
		</p:commandButton>
		</p:column>
		</p:dataTable>	
	</h:form>
	</ui:define>
	</ui:composition>
</html>
