<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title" >
	#{bundle['application.secretary.secretary_archiveInfo']}
	</ui:define>
	<ui:define name="metadata">
	<f:metadata>
		<f:viewParam name="ab_id" value="#{requestScope.ab_id}" />
		<f:viewParam name="store_flag" value="#{requestScope.store_flag}" />
		<f:viewParam name="aib_id" value="#{requestScope.aib_id}" />
		<f:viewParam name="archive_id" value="#{secretary_archiveInfoBacking.archive_id}"></f:viewParam>
		<f:event listener="#{secretary_archiveInfoBacking.init}" type="preRenderView"></f:event>
	</f:metadata>
	</ui:define>
	<ui:define name="content">
	<ui:include src="archiveStore/composite_archiveInfo.xhtml"></ui:include>
	</ui:define>
	</ui:composition>
</html>
