<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title">#{bundle['application.secretary.secretary_grad_design']}</ui:define>
	<ui:define name="metadata">
		<f:metadata>
			<f:viewAction action="#{secretary_grad_designBacking.init}"></f:viewAction>
		</f:metadata>
	</ui:define>
	<ui:define name="content">
	<h:form>
	
	<p:dataTable value="#{secretary_grad_designBacking.yearList}" 
	var="currentYear"
    >
	    <f:facet name="header">
		    <h:outputText value="#{bundle['application.secretary.secretary_grad_design']}"></h:outputText>
	    </f:facet>
		<p:column headerText="#{archiveBundle['archive_year']}">
			<h:outputText value="#{currentYear}"></h:outputText>
		</p:column>
		<p:column headerText="#{bundle['application.operation']}">
			<p:commandButton value="#{bundle['application.download']}" action="#{secretary_grad_designBacking.createFile}" ajax="false">
				<f:setPropertyActionListener target="#{secretary_grad_designBacking.gds_year}" value="#{currentYear}"></f:setPropertyActionListener>
			</p:commandButton>
		</p:column>
	
	</p:dataTable>
	
	
	
	
	
	
	</h:form>
	
	
	
	</ui:define>
	</ui:composition>
</html>
