<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
<ui:composition template="/templates/secretary.xhtml">
<ui:define name="title">#{bundle['application.secretary.secretary_checkFile']}</ui:define>
<ui:define name="metadata" >
	<f:metadata>
		<f:event listener="#{secretary_checkArchiveBacking.init}" type="preRenderView"></f:event>
	</f:metadata>
</ui:define>

<ui:define name="content">
<h:form>
	<p:dataTable value="#{secretary_checkArchiveBacking.archiveList}"
					var="currentArchive"
					scrollable="true" scrollHeight="400"
					scrollWidth="100%"
					>
					<f:facet name="header">
					档案核对表
					</f:facet>
	<p:column headerText="#{archiveBundle['archive_year']}">
		#{currentArchive.archive_year}
	</p:column >				
	<p:column width="8" headerText="#{archiveBundle['archive_semester']}">
		#{currentArchive.archive_semester}
	</p:column>	
		<p:column width="55" headerText="#{archiveBundle['archive_course_id_id']}">
		#{currentArchive.archive_course_id_id}
	</p:column>	
		<p:column width="8" headerText="#{archiveBundle['archive_course_num']}">
		#{currentArchive.archive_course_num}
	</p:column>	

	<p:column width="100" headerText="#{archiveBundle['archive_course_name']}">
		#{currentArchive.archive_course_name}
	</p:column>								
	<p:column width="38" headerText="#{archiveBundle['archive_teacher']}">
		#{currentArchive.archive_teacher}
	</p:column>							
	<p:column width="38" headerText="#{teacherBundle['teacher_name.submit']}">
		#{currentArchive.teacher_name}
	</p:column>
	<p:column  headerText="#{archiveBundle['archive_exam_type']}">
		#{currentArchive.archive_exam_type}
	</p:column>								
	<p:column headerText="#{archiveBundle['archive_type']}">
		#{currentArchive.archive_type}
	</p:column>				
	<p:column headerText="#{archiveBundle['archive_storage_type']}">
		#{currentArchive.archive_storage_type}
	</p:column>				
	<p:column headerText="#{archiveBundle['archive_stu_num']}">
		#{currentArchive.archive_stu_num}
	</p:column>				
	<p:column headerText="#{archiveBundle['archive_actual_stu_num']}">
		#{currentArchive.archive_actual_stu_num}
	</p:column>		
	<p:column headerText="#{bundle['application.operation']}">
	<h:commandLink value="#{bundle['application.checkout']}"
					action="#{secretary_checkArchiveBacking.checkoutArchive}"
	>
		<f:setPropertyActionListener 
			target="#{secretary_checkArchiveBacking.selectedArchive}" 
			value="#{currentArchive}">
		</f:setPropertyActionListener>
	</h:commandLink>
	</p:column>		

	</p:dataTable>
</h:form>
</ui:define>
</ui:composition>
</html>
