<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" lang="en">
<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title">#{bundle['application.secretary.secretary_fileLendout']}</ui:define>
	<ui:define name="css">
	<style type="text/css">
		.outputText {
			display:block;
			width:70px;
		}
		.inputText {
			width:90px;
		}
	
	</style>
	</ui:define>

	<ui:define name="content">
		
		<h:form style="margin-left:0px">
		
		<p:remoteCommand actionListener="#{secretary_archiveLendoutBacking.init}" 
					autoRun="true" update="results year semester"></p:remoteCommand>
		<p:panel header="#{bundle['application.secretary.secretary_fileQuery']}">
		<h:panelGrid columns="8">
		<h:outputText id="archive_year" styleClass="outputText" value="#{archiveBundle['archive_year']}" />		
		<p:selectOneMenu  id="year" styleClass="input"  value="#{archive.archive_year}" >
			<f:selectItems value="#{secretary_archiveLendoutBacking.yearList}"></f:selectItems>
		</p:selectOneMenu>
		
		<h:outputText id="archive_semester" styleClass="outputText" value="#{archiveBundle['archive_semester']}" />		
		<p:selectOneMenu id="semester" styleClass="input" value="#{archive.archive_semester}">
			<f:selectItem itemLabel="#{archiveBundle['archive_semester.first.string']}" itemValue="#{archiveBundle['archive_semester.first']}" ></f:selectItem>
			<f:selectItem itemLabel="#{archiveBundle['archive_semester.second.string']}" itemValue="#{archiveBundle['archive_semester.second']}"></f:selectItem>
		</p:selectOneMenu>
		
		<h:outputText  id="archive_course_name" styleClass="outputText" value="#{archiveBundle['archive_course_name']}" />
		<p:inputText styleClass="inputText" value="#{archive.archive_course_name}" />
		
		<h:outputText id="archive_course_id_id"  styleClass="outputText" value="#{archiveBundle['archive_course_id_id']}"></h:outputText>
		<p:inputText styleClass="inputText" value="#{archive.archive_course_id_id}" />
		
		<h:outputText  id="archive_teacher" styleClass="outputText" value="#{archiveBundle['archive_teacher']}"></h:outputText>
		<p:inputText styleClass="inputText" value="#{archive.archive_teacher}" />
		
		<h:outputText  id="archive_class" styleClass="outputText" value="#{archiveBundle['archive_class']}"></h:outputText>
		<p:inputText styleClass="inputText" value="#{archive.archive_class}" />
		
		<p:commandButton value="#{bundle['application.search']}" 
						actionListener="#{secretary_archiveLendoutBacking.query}" 
						ajax="true"
						update="results"/>	
		</h:panelGrid>	
		</p:panel>
		
		<p:panel header="#{bundle['application.results']}" >
		<h:panelGroup id="results" >
			<p:dataTable id="queryResult"
			value="#{secretary_archiveLendoutBacking.archiveList}"
			var="currentArchive"
			rendered="#{not empty secretary_archiveLendoutBacking.archiveList}"  
			rows="15" 
			 >
			<p:column headerText="#{archiveBundle['archive_year']}">
				#{currentArchive.archive_year}
			</p:column>			
			<p:column  headerText="#{archiveBundle['archive_semester']}">
				#{currentArchive.archive_semester}
			</p:column>	
			<p:column   headerText="#{archiveBundle['archive_course_id_id']}">
				#{currentArchive.archive_course_id_id}
			</p:column>				
			<p:column  headerText="#{archiveBundle['archive_course_num']}">
				#{currentArchive.archive_course_num}
			</p:column>						
			<p:column headerText="#{archiveBundle['archive_course_name']}">
				#{currentArchive.archive_course_name}
			</p:column>			
			<p:column headerText="#{archiveBundle['archive_class']}">
				#{currentArchive.archive_class}
			</p:column>			
			<p:column headerText="#{archiveBundle['archive_borrower_name']}">
				#{currentArchive.archive_teacher}
			</p:column>		
			<p:column headerText="#{archiveBundle['archive_borrower_dept']}">
				#{currentArchive.archive_dept}
			</p:column>		
			<p:column headerText="#{archiveBundle['archive_borrower_status']}">
				#{currentArchive.archive_borrower_status}
			</p:column>
			<p:column headerText="#{bundle['application.operation']}">	
			<h:panelGroup rendered="#{currentArchive.archive_borrower_status_int eq 1}">
			<h:commandLink value="#{bundle['application.checkout']}"
								action="#{secretary_archiveLendoutBacking.checkout}" 
				>
					<f:setPropertyActionListener 
					target="#{secretary_archiveLendoutBacking.archive_id}" 
					value="#{currentArchive.archive_id}" />
			</h:commandLink>
			</h:panelGroup>
			<h:panelGroup rendered="#{currentArchive.archive_borrower_status_int eq 0}">
				<h:commandLink value="#{bundle['application.lendout']}"
								action="#{secretary_archiveLendoutBacking.lendout}"
				>
					<f:setPropertyActionListener 
					target="#{secretary_archiveLendoutBacking.archive_id}" 
					value="#{currentArchive.archive_id}" />
				</h:commandLink>
			</h:panelGroup>
			</p:column>
			
			</p:dataTable>
		</h:panelGroup>
		</p:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>
