<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" lang="en">
<ui:composition template="/templates/secretary.xhtml">
	<ui:define name="title" >#{bundle['application.secretary.secretary_statisticReport']}</ui:define>
	<ui:define name="metadata">
	<f:metadata>
		<f:viewParam name="course_year" value="#{secretary_statisticsBacking.course_year}"></f:viewParam>
		<f:viewParam name="course_semester" value="#{secretary_statisticsBacking.course_semester}"></f:viewParam>
		<f:event listener="#{secretary_statisticsBacking.init}" type="preRenderView"/>
	</f:metadata>
	</ui:define>
	<ui:define name="content" >
	<h:form>
		<p:dataTable id="dataTable" var="currentCourse" 
			widgetVar="courseTable"
			scrollable="true" scrollWidth="100%" scrollHeight="500"
			value="#{secretary_statisticsBacking.courseList}" 
			filteredValue="#{secretary_statisticsBacking.filteredCourseList}">
		<f:facet name="header">
			<h:outputText value="#{bundle['application.secretary.secretary_statistics']}" />
		<h:commandLink >
			<p:graphicImage value="/image/exporters/excel.png"></p:graphicImage>
			<p:dataExporter target="dataTable" type="xls" fileName="#{secretary_statisticsBacking.fileName}"></p:dataExporter>
		</h:commandLink>
		</f:facet>
		
		<p:column width="60" headerText="#{archiveBundle['archive_year']}">
			<h:outputText value="#{currentCourse.course_year}" /> 
		</p:column>			
		<p:column width="40" headerText="#{archiveBundle['archive_semester']}">
			<h:outputText value="#{currentCourse.course_semester}" />
		</p:column>	
		<p:column headerText="#{archiveBundle['archive_course_id_id']}">
			<h:outputText value="#{currentCourse.course_id_id}" />
		</p:column>				
		<p:column headerText="#{archiveBundle['archive_course_num']}">
			<h:outputText value="#{currentCourse.course_num}" />
		</p:column>						
		<p:column headerText="#{archiveBundle['archive_course_name']}">
			<h:outputText value="#{currentCourse.course_name}" />
		</p:column>			
		<p:column headerText="#{archiveBundle['archive_class']}">
			<h:outputText value="#{currentCourse.course_class}" />
		</p:column>			
		<p:column headerText="#{archiveBundle['archive_teacher']}">
			<h:outputText value="#{currentCourse.course_teacher}" />
		</p:column>		
		<p:column headerText="#{archiveBundle['archive_dept']}">
			<h:outputText value="#{currentCourse.course_dept}" />
		</p:column>		
		
		 <p:column width="80" filterBy="#{currentCourse.archive_status}" headerText="#{archiveBundle['archive_status']}" footerText="" filterMatchMode="exact">
            <f:facet name="filter">
                <p:selectOneMenu onchange="PF('courseTable').filter()" style="width:80px" >
                    <f:selectItem itemLabel="#{bundle['application.choose']}" itemValue="#{null}" noSelectionOption="true" />
                    <f:selectItems value="#{secretary_statisticsBacking.statusList}" />
                </p:selectOneMenu>
            </f:facet>
            <h:outputText value="#{currentCourse.archive_status}" />
        </p:column>		
        <p:column headerText="#{archiveBundle['archive_borrower_status']}">
			<h:outputText value="#{currentCourse.archive_borrower_status}" />
		</p:column>		

		</p:dataTable>
		
		
		</h:form>
	</ui:define>
</ui:composition>

</html>
