<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
<ui:composition template="/templates/teacher.xhtml">
	<ui:define name="title">#{bundle['application.teacher.teacher_createArchive']}</ui:define>
	<ui:define name="css">
		<style type="text/css">
			.ui-fileupload {width:410px;}
		</style>
	</ui:define>
	<ui:define name="metadata">
	<f:metadata>
		<f:viewParam name="archive_id" value="#{editArchiveBacking.archive_id}"></f:viewParam>
	</f:metadata>
	</ui:define>
	<ui:define name="content">

		<h:form id="archiveForm" >
		<p:remoteCommand actionListener="#{editArchiveBacking.init}"  autoRun="true" 
		process="@this" update="archive_year semesterRadio archive_course_id_id archive_course_num archive_course_name 
		archive_teacher archive_class archive_stu_num archive_actual_stu_num archive_exam_type archive_type messages
		archive_storage_type" immediate="true"></p:remoteCommand>
		<p:panel header="档案基本信息" >
		
		<h:panelGrid columns="2">
		
		<h:outputText value="#{archiveBundle['archive_year']}" />	
		<p:selectOneMenu id="archive_year" value="#{archive.archive_year}">
		<f:selectItems value="#{editArchiveBacking.yearList}"
					var="year" itemLabel="#{year}" itemValue="#{year}" 
						></f:selectItems>
						
		</p:selectOneMenu>
		
		<h:outputText value="#{archiveBundle['archive_semester']}" />		
		<p:selectOneRadio id="semesterRadio"   value="#{archive.archive_semester}">
			<f:selectItem itemLabel="#{archiveBundle['archive_semester.first.string']}" itemValue="#{archiveBundle['archive_semester.first']}" />
			<f:selectItem itemLabel="#{archiveBundle['archive_semester.second.string']}" itemValue="#{archiveBundle['archive_semester.second']}" />
		</p:selectOneRadio>
		
		<h:outputText value="#{archiveBundle['archive_course_id_id']}"></h:outputText>
		<p:inputText id="archive_course_id_id"
					value="#{archive.archive_course_id_id}" 
					required="true"
					requiredMessage="#{archiveBundle['archive_course_id_id.required']}"
					validatorMessage="#{archiveBundle['archive_course_id_id.validation']}"
					>
		</p:inputText>
		
		<h:outputText value="#{archiveBundle['archive_course_num']}"></h:outputText>
		<p:inputText id="archive_course_num" value="#{archive.archive_course_num}" 
					required="true"
					requiredMessage="#{archiveBundle['archive_course_num.required']}"
					validatorMessage="#{archiveBundle['archive_course_num.validation']}"
					>
				<f:ajax event="blur" listener="#{editArchiveBacking.checkExistence}" 
					execute="archive_year semesterRadio archive_course_id_id archive_course_num" 
					render="messages archive_teacher archive_course_name archive_class"></f:ajax>
		</p:inputText>
		
		 <h:outputText value="#{archiveBundle['archive_course_name']}" />
		<p:inputText id="archive_course_name"  value="#{archive.archive_course_name}" 
					required="true"
					requiredMessage="#{archiveBundle['archive_course_name.required']}"
					disabled="true">
		</p:inputText>
		  
		
		<h:outputText value="#{archiveBundle['archive_teacher']}"></h:outputText>
		<p:inputText id="archive_teacher" value="#{archive.archive_teacher}" 
					required="true"
					requiredMessage="#{archiveBundle['archive_teacher.required']}"
					disabled="true">
		</p:inputText>

		
		<h:outputText value="#{archiveBundle['archive_class']}"></h:outputText>
		<p:inputText id="archive_class"  value="#{archive.archive_class}" 
					required="true"
					requiredMessage="#{archiveBundle['archive_class.required']}"
					disabled="true">
		</p:inputText>

		<h:outputText value="#{archiveBundle['archive_stu_num']}"></h:outputText>
		<p:inputText  id="archive_stu_num" 
					value="#{archive.archive_stu_num}" 
					required="true"
					requiredMessage="#{archiveBundle['archive_stu_num.required']}"
					validatorMessage="#{archiveBundle['archive_stu_num.validation']}"
					>
		</p:inputText>
		
		<h:outputText value="#{archiveBundle['archive_actual_stu_num']}"></h:outputText>
		<p:inputText  id="archive_actual_stu_num" value="#{archive.archive_actual_stu_num}" 
					required="true"
					requiredMessage="#{archiveBundle['archive_actual_stu_num.required']}"
					validatorMessage="#{archiveBundle['archive_actual_stu_num.validation']}"
					>
		</p:inputText>
		
		<h:outputText value="#{archiveBundle['archive_exam_type']}"></h:outputText>
		<p:selectOneMenu id="archive_exam_type" value="#{archive.archive_exam_type}">
			<f:selectItem itemLabel="#{archiveBundle['archive_exam_type.open']}" itemValue="#{archiveBundle['archive_exam_type.open']}" />
			<f:selectItem itemLabel="#{archiveBundle['archive_exam_type.close']}" itemValue="#{archiveBundle['archive_exam_type.close']}" />
			<f:selectItem itemLabel="#{archiveBundle['archive_exam_type.paper']}" itemValue="#{archiveBundle['archive_exam_type.paper']}" />
			<f:selectItem itemLabel="#{archiveBundle['archive_exam_type.defence']}" itemValue="#{archiveBundle['archive_exam_type.defence']}" />
			<f:selectItem itemLabel="#{archiveBundle['archive_exam_type.other']}" itemValue="#{archiveBundle['archive_exam_type.other']}" />
		</p:selectOneMenu>
		
		<h:outputText value="#{archiveBundle['archive_type']}"></h:outputText>
		<p:selectOneMenu id="archive_type" value="#{archive.archive_type}">
			<f:selectItem itemLabel="#{archiveBundle['archive_type.exam_paper']}" itemValue="#{archiveBundle['archive_type.exam_paper']}" />
			<f:selectItem itemLabel="#{archiveBundle['archive_type.course_design']}" itemValue="#{archiveBundle['archive_type.course_design']}" />
			<f:selectItem itemLabel="#{archiveBundle['archive_type.internship']}" itemValue="#{archiveBundle['archive_type.internship']}" />
			<f:selectItem itemLabel="#{archiveBundle['archive_type.experiment']}" itemValue="#{archiveBundle['archive_type.experiment']}" />
			<f:selectItem itemLabel="#{archiveBundle['archive_type.other']}" itemValue="#{archiveBundle['archive_type.other']}" />
		</p:selectOneMenu>
		
		<h:outputText value="#{archiveBundle['archive_storage_type']}"></h:outputText>
		<p:selectOneRadio id="archive_storage_type"   value="#{archive.archive_storage_type}">
			<f:selectItem itemLabel="#{archiveBundle['archive_storage_type.long']}" itemValue="#{archiveBundle['archive_storage_type.long']}" />
			<f:selectItem itemLabel="#{archiveBundle['archive_storage_type.permanent']}" itemValue="#{archiveBundle['archive_storage_type.permanent']}" />
		</p:selectOneRadio>
	
	</h:panelGrid>	
	 <p:commandButton value="#{bundle['application.finish']}" 
		 action="#{editArchiveBacking.submit}"
		 process="@form" update="messages">
	 </p:commandButton> 
	 
	 <p:button value="#{bundle['application.return']}" outcome="/teacher/teacher_editArchive"></p:button>
	<p:messages id="messages"  showDetail="true"></p:messages>
	</p:panel>
	
	</h:form>
	</ui:define>
	</ui:composition>
</html>
