<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" lang="en">
	<ui:composition template="/templates/user.xhtml">
	<ui:define name="title">#{bundle['application.user.user_data']}</ui:define>
	<ui:define name="css"></ui:define>
	<ui:define name="content">
	<div id="frame" style="width:100%;margin:0px auto 0px auto">
		<h:form>
		
		<h:outputText value="#{bundle['application.user.user_data.teacherList']}" style="font-weight:bold"></h:outputText>
		<p:fileUpload fileUploadListener="#{user_dataBacking.handleTeacherList}"
					label="#{bundle['application.chooseFile']}"
					uploadLabel="#{bundle['application.uploadFile']}"
					cancelLabel="#{bundle['application.cancel']}"
					allowTypes="/.*(\.|\/)(xls)$/"
					invalidFileMessage="#{bundle['application.invalidFile']}"
					update="msg"
					sizeLimit="5242880"
					style="width:600px;"
					onstart="PF('pb1').start()"
		 />
		 <h:outputText value="#{bundle['application.progressbar']}"></h:outputText>
		 <p:progressBar value="#{user_dataBacking.progress}" ajax="true" widgetVar="pb1" labelTemplate="{value}%" interval="1000"/>
		 <br />
		<h:outputText value="#{bundle['application.user.user_data.courseList']}" style="font-weight:bold"></h:outputText>
		<p:fileUpload fileUploadListener="#{user_dataBacking.handleCourseList}"
					label="#{bundle['application.chooseFile']}"
					uploadLabel="#{bundle['application.uploadFile']}"
					cancelLabel="#{bundle['application.cancel']}"
					allowTypes="/.*(\.|\/)(xls)$/"
					invalidFileMessage="#{bundle['application.invalidFile']}"
					update="msg"
					sizeLimit="5242880"
					style="width:600px;"
					onstart="PF('pb2').start()"
		 />
		<h:outputText value="#{bundle['application.progressbar']}"></h:outputText>
		 <p:progressBar value="#{user_dataBacking.progress}" ajax="true" widgetVar="pb2" labelTemplate="{value}%" interval="1000"/>
		
		 <br />
		 <h:outputText value="#{bundle['application.user.user_data.gradDesignList']}" style="font-weight:bold"></h:outputText>
		<p:fileUpload fileUploadListener="#{user_dataBacking.handleGradDesignList}"
					label="#{bundle['application.chooseFile']}"
					uploadLabel="#{bundle['application.uploadFile']}"
					cancelLabel="#{bundle['application.cancel']}"
					allowTypes="/.*(\.|\/)(xls)$/"
					invalidFileMessage="#{bundle['application.invalidFile']}"
					update="msg"
					sizeLimit="5242880"
					style="width:600px;"
					onstart="PF('pb3').start()"
		 />
		<h:outputText value="#{bundle['application.progressbar']}"></h:outputText>
		<p:progressBar value="#{user_dataBacking.progress}" ajax="true" widgetVar="pb3" labelTemplate="{value}%" interval="1000"/>
	
	

	<p:growl id="msg" showDetail="true"/>
		</h:form>
		
	
		

	</div>
	</ui:define>
	</ui:composition>
</html>
		<!-- 
		<br />
			<p:progressBar value="#{progressBean.progress}" ajax="true" 
						widgetVar="pb"
						labelTemplate="{value}%"
						>
		<p:ajax event="complete" listener="#{progressBean.handleComplete}"
			update="messages" oncomplete="PF('startButton2').enable()" global="false"/>
		</p:progressBar>
		<p:growl id="messages" />
		<h:form>
			<p:commandButton value="处理数据" 
			 widgetVar="startButton2" 
			 actionListener="#{user_dataBacking.processData}" ajax="false"/>
		</h:form>
		 -->