<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
<ui:composition template="/templates/user.xhtml">
	<ui:define name="title">#{bundle['application.user.user_teacherManage']}</ui:define>
	<ui:define name="metadata">
		<f:metadata>
			<f:event listener="#{user_teacherManageBacking.init}" type="preRenderView"></f:event>	
		</f:metadata>
	</ui:define>
	<ui:define name="content">
	<h:form>
	<p:panel header="添加教师信息">
	
			<h:panelGrid columns="2">
			<h:outputText value="#{teacherBundle['teacher_id']}"></h:outputText>		
			<p:inputText  id="teacher_id" value="#{teacher.teacher_id}" 
			required="true" 
			requiredMessage="#{teacherBundle['teacher_id.required']}"
			validatorMessage="#{teacherBundle['teacher_id.validator']}">
			<f:validateRegex pattern="^.{6}$"/>			
			</p:inputText>	
			<h:outputText value="#{teacherBundle['teacher_name_real']}"></h:outputText>
			<p:inputText id="teacher_name" value="#{teacher.teacher_name}" 
			required="true" 
			requiredMessage="#{teacherBundle['teacher_name_real.required']}"></p:inputText>
			<h:outputText value="#{teacherBundle['teacher_dept']}"></h:outputText>
			<p:selectOneMenu id="teacher_dept" value="#{teacher.teacher_dept}">
				<f:selectItems value="#{user_teacherManageBacking.deptList}" />							
			</p:selectOneMenu>
			</h:panelGrid>
			<p:commandButton value="#{bundle['application.submit']}" 
			actionListener="#{user_teacherManageBacking.addTeacher}" 
			process="teacher_id teacher_name teacher_dept @this"
			update="messages :table:teacherTable"
			/>
		
		<p:growl id="messages" showDetail="true"></p:growl>
	</p:panel>
	</h:form>
	<h:form id="table">
	<p:panel id="teacherTable" header="教师表" >
	<p:dataTable var="currentTeacher" 
	value="#{user_teacherManageBacking.teacherList}"
	rows="50"
	paginator="true"
    paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
    rowsPerPageTemplate="50,100,150"
	>
		<p:column headerText="#{teacherBundle['teacher_id']}">
			<h:outputText value="#{currentTeacher.teacher_id}"></h:outputText>
		</p:column>
		<p:column headerText="#{teacherBundle['teacher_name_real']}">
			<h:outputText value="#{currentTeacher.teacher_name}"></h:outputText>
		</p:column>
		<p:column headerText="#{teacherBundle['teacher_dept']}">
			<h:outputText value="#{currentTeacher.teacher_dept}"></h:outputText>
		</p:column>
		<p:column headerText="#{bundle['application.operation']}">
			<p:commandLink value="#{bundle['application.delete']}" action="#{user_teacherManageBacking.deleteTeacher}" ajax="true" update="@form" >
				<p:confirm header="提示" message="您确定要删除此教师吗？"  icon="ui-icon-alert"/>
				<f:setPropertyActionListener target="#{user_teacherManageBacking.teacher_id}" value="#{currentTeacher.teacher_id}"></f:setPropertyActionListener>
			</p:commandLink>
		</p:column>
	</p:dataTable>
	<p:confirmDialog global="true">
		<p:commandButton value="确定" type="button" styleClass="ui-confirmdialog-yes" style="margin-left:45px;"
		icon="ui-icon-check"/>
		<p:commandButton value="取消" type="button" styleClass="ui-confirmdialog-no" 
		icon="ui-icon-close"/>
	</p:confirmDialog>
	</p:panel>
	</h:form>
	</ui:define>		
</ui:composition>
</html>
