<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" lang="en">
<ui:composition template="/templates/user.xhtml">
	<ui:define name="title">#{bundle['application.user.user_authorityManager']}</ui:define>
	<ui:define name="content">
		name
	</ui:define>

</ui:composition>
</html>
