<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" lang="en">
	 <f:view transient="true">
	<ui:composition template="/templates/login.xhtml">
	<ui:define name="title">#{bundle['application.user.user_login.title'] }</ui:define>
	<ui:define name="welcome">#{bundle['application.user.user_login.welcome'] }</ui:define>
	<ui:define name="form">
	<h:form>
	<p:focus />
			<h:panelGrid columns="2" >
				<h:outputText value="用户名：" />
				<p:inputText id="userName" 
				value="#{user.user_name}" 
				required="true" 
				requiredMessage="用户名不能为空" 
				>
				</p:inputText>
				
				
				<h:outputText value="密码：" />
				<p:password id="password" 
				value="#{user.user_password}" 
				required="true" 
				requiredMessage="密码不能为空"/>
				<p:commandButton value="#{bundle['application.login']}" action="#{user_loginBacking.submit}"  update="@form"/>
				<p:button value="#{bundle['application.return']}" outcome="/index?faces-redirect=true" ></p:button>
			
			</h:panelGrid>
			<p:messages id="msg"  />
	</h:form>
	</ui:define>
	</ui:composition>
	</f:view>
</html>
