<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui"
	lang="en">
	<ui:composition template="/templates/teacher.xhtml">
	<ui:define name="title">#{bundle['application.teacher.teacher_createArchive.archive_file']}</ui:define>
	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="archive_id" value="#{archive_fileBacking.archive_id}"></f:viewParam>
			<f:viewParam name="student_flag" value="#{archive_fileBacking.student_flag}"></f:viewParam>		
			<f:viewParam name="edit_flag" value="#{archive_fileBacking.edit_flag}" ></f:viewParam>
			<f:event listener="#{archive_fileBacking.init}" type="preRenderView" />
		</f:metadata>	
	</ui:define>
	<ui:define name="css">
	<style type="text/css">
	.ui-fileupload {
		width:400px;
	}
	</style>
	</ui:define>
	<ui:define name="content">
	<h:form>
	<p:panel id="multiFileUpload" header="多文件上传" >
	<h:panelGrid columns="3">
	<h:outputText value="#{archiveBundle['archive_transcript']}"></h:outputText>	
	<p:fileUpload  styleClass="fileUpload" 
			fileUploadListener="#{archive_fileBacking.handleFileTranscript}" 
			mode="advanced"
		    label="#{bundle['application.chooseFile']}"
			uploadLabel="#{bundle['application.uploadFile']}"
			cancelLabel="#{bundle['application.cancel']}"
		    multiple="true"
		    update="uploadMsg"
		    sizeLimit="10485760" 
		    allowTypes="/(\.|\/)(xls|doc|pdf)$/"
		    invalidFileMessage="#{bundle['application.invalidFile']}"
		    />
	<p:commandButton value="#{bundle['application.reset']}" 
	actionListener="#{archive_fileBacking.resetTranscript}" 
	update="uploadMsg" ></p:commandButton>
   	
   	
   	<h:outputText value="#{archiveBundle['archive_regular_grade']}"></h:outputText>	
    <p:fileUpload styleClass="fileUpload" fileUploadListener="#{archive_fileBacking.handleFileRegular_grade}" mode="advanced"
                     label="#{bundle['application.chooseFile']}"
					 uploadLabel="#{bundle['application.uploadFile']}"
					 cancelLabel="#{bundle['application.cancel']}"
                      multiple="true"
                     update="uploadMsg"
                     sizeLimit="10485760" 
                     allowTypes="/(\.|\/)(xls|doc|pdf)$/"
                     invalidFileMessage="#{bundle['application.invalidFile']}"
                      />
	<p:commandButton value="#{bundle['application.reset']}"
				actionListener="#{archive_fileBacking.resetRegular_grade}"
				update="uploadMsg"></p:commandButton>
	
	</h:panelGrid>
	</p:panel>
	<p:panel id="oneFileUpload"  header="单文件上传">
	<h:panelGrid columns="2">
	<h:outputText id="archive_calender" value="#{archiveBundle['archive_calender']}"></h:outputText>	
	<p:fileUpload fileUploadListener="#{archive_fileBacking.handleFileCalender}" mode="advanced"
                     label="#{bundle['application.chooseFile']}"
					 uploadLabel="#{bundle['application.uploadFile']}"
					 cancelLabel="#{bundle['application.cancel']}"
                     auto="true" 
                     update="uploadMsg"
                     sizeLimit="10485760" 
                     allowTypes="/(\.|\/)(xls|doc|pdf)$/"
                     invalidFileMessage="#{bundle['application.invalidFile']}"
                      />
   	
   	
   	<h:outputText value="#{archiveBundle['archive_blank_paper_a']}"></h:outputText>	
   	<p:fileUpload styleClass="fileUpload" fileUploadListener="#{archive_fileBacking.handleFileBlank_paper_a}" mode="advanced"
                     label="#{bundle['application.chooseFile']}"
					 uploadLabel="#{bundle['application.uploadFile']}"
					 cancelLabel="#{bundle['application.cancel']}"
                     auto="true" 
                     update="uploadMsg"
                     sizeLimit="10485760" 
                     allowTypes="/(\.|\/)(xls|doc|pdf)$/"
                     invalidFileMessage="#{bundle['application.invalidFile']}"
                      />

   	<h:outputText value="#{archiveBundle['archive_blank_paper_b']}"></h:outputText>	
   	<p:fileUpload styleClass="fileUpload" id="calender" fileUploadListener="#{archive_fileBacking.handleFileBlank_paper_b}" mode="advanced"
                     label="#{bundle['application.chooseFile']}"
					 uploadLabel="#{bundle['application.uploadFile']}"
					 cancelLabel="#{bundle['application.cancel']}"
                     auto="true" 
                     update="uploadMsg"
                     sizeLimit="10485760" 
                     allowTypes="/(\.|\/)(xls|doc|pdf)$/"
                     invalidFileMessage="#{bundle['application.invalidFile']}"
                    
                      />

   	<h:outputText value="#{archiveBundle['archive_blank_paper_aa']}"></h:outputText>	
   	<p:fileUpload styleClass="fileUpload" fileUploadListener="#{archive_fileBacking.handleFileBlank_paper_aa}" mode="advanced"
                     label="#{bundle['application.chooseFile']}"
					 uploadLabel="#{bundle['application.uploadFile']}"
					 cancelLabel="#{bundle['application.cancel']}"
                     auto="true" 
                     update="uploadMsg"
                     sizeLimit="10485760" 
                     allowTypes="/(\.|\/)(xls|doc|pdf)$/"
                     invalidFileMessage="#{bundle['application.invalidFile']}"
                      />

   	<h:outputText value="#{archiveBundle['archive_blank_paper_bb']}"></h:outputText>	
    <p:fileUpload styleClass="fileUpload" fileUploadListener="#{archive_fileBacking.handleFileBlank_paper_bb}" mode="advanced"
                     label="#{bundle['application.chooseFile']}"
					 uploadLabel="#{bundle['application.uploadFile']}"
					 cancelLabel="#{bundle['application.cancel']}"
                     auto="true" 
                     update="uploadMsg"
                     sizeLimit="10485760" 
                     allowTypes="/(\.|\/)(xls|doc|pdf)$/"
                     invalidFileMessage="#{bundle['application.invalidFile']}"
                      />

   	<h:outputText value="#{archiveBundle['archive_analysis']}"></h:outputText>	
     <p:fileUpload styleClass="fileUpload" fileUploadListener="#{archive_fileBacking.handleFileAnalysis}" mode="advanced"
                     label="#{bundle['application.chooseFile']}"
					 uploadLabel="#{bundle['application.uploadFile']}"
					 cancelLabel="#{bundle['application.cancel']}"
                     auto="true" 
                     update="uploadMsg"
                     sizeLimit="10485760" 
                     allowTypes="/(\.|\/)(xls|doc|pdf)$/"
                     invalidFileMessage="#{bundle['application.invalidFile']}"
                      />

   	<h:outputText value="#{archiveBundle['archive_answer']}"></h:outputText>	
     <p:fileUpload styleClass="fileUpload" fileUploadListener="#{archive_fileBacking.handleFileAnswer}" mode="advanced"
                     label="#{bundle['application.chooseFile']}"
					 uploadLabel="#{bundle['application.uploadFile']}"
					 cancelLabel="#{bundle['application.cancel']}"
                     auto="true" 
                     update="uploadMsg"
                     sizeLimit="10485760" 
                     allowTypes="/(\.|\/)(xls|doc|pdf)$/"
                     invalidFileMessage="#{bundle['application.invalidFile']}"
                      />

    
    </h:panelGrid>
    
   
    <p:commandButton value="#{bundle['application.finish']}" 
							action="#{archive_fileBacking.submit}" 
							ajax="true"
							process="@form"
							update="formMsg"/>	
    </p:panel>
    <p:messages id="formMsg" showDetail="true"  globalOnly="false" />
    <p:growl id="uploadMsg" showDetail="true" globalOnly="true"/>
    </h:form>
	</ui:define>
	</ui:composition>
</html>
