<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/teacher.xhtml">
		<ui:define name="title">#{bundle['application.teacher.teacher_createArchive.student_info']}</ui:define>
		<ui:define name="metadata" >
		<f:metadata>
			<f:viewParam name="archive_id" 
			value="#{student_infoBacking.archive_id}" 
			required="#{not facesContext.postback}"
			requiredMessage="需要档案号">
			</f:viewParam>
			<f:viewParam 
			name="edit_flag" 
			value="#{student_infoBacking.edit_flag}" /> 
		</f:metadata>
		</ui:define>
		<ui:define name="content">
			
			
			<h:form id="stuForm">
			<p:remoteCommand 
				actionListener="#{student_infoBacking.init}" 
				autoRun="true" 
				immediate="true"
				update="results" />	
			<p:panel header="#{bundle['application.teacher.teacher_createArchive.student_info']}">
			
			<p:focus />
			<h:panelGrid columns="2">
			
				<h:outputText value="#{studentBundle['stu_name']}" />
				<p:inputText id="stu_name" value="#{student.stu_name}"
								required="true"
								requiredMessage="#{studentBundle['stu_name.required']}"
								/>
								
				<h:outputText value="#{studentBundle['stu_id']}" />
				<p:inputText id="stu_id" value="#{student.stu_id}"
							required="true"
							requiredMessage="#{studentBundle['stu_id.required']}" />
			
				<h:outputText value="#{studentBundle['stu_class']}"></h:outputText>
				<p:inputText id="stu_class" value="#{student.stu_class}"
							required="true"
							requiredMessage="#{studentBundle['stu_class.required']}" />
							
				<h:outputText value="#{studentBundle['stu_grade']}"></h:outputText>			
				<p:inputText id="stu_grade" value="#{student.stu_grade}"
							required="true"
							requiredMessage="#{studentBundle['stu_grade.required']}"
							validatorMessage="#{studentBundle['stu_grade.validation']}">
							<f:validateDoubleRange minimum="0.0" maximum="100.00" />
				</p:inputText>
							
			<p:commandButton value="#{bundle['application.add']}" 
							actionListener="#{student_infoBacking.add}"  
							ajax="true"
							process="@form"
							update=":stuForm:results stu_name stu_id stu_class stu_grade messages"
							resetValues="true"
							>
			</p:commandButton>
			<p:commandButton value="#{bundle['application.end']}" immediate="true" action="#{student_infoBacking.submit}" ajax="false" />
			</h:panelGrid>
			<p:messages id="messages" ></p:messages>
			</p:panel>			
			<h:panelGroup id="results">
			<p:panel rendered="#{not empty student_infoBacking.stuList}"  header="#{studentBundle['stu_title']}">
			<h:outputText id="informationMessage"
					value="#{student_infoBacking.infoMessage}"
					rendered="#{student_infoBacking.infoMessage ne null}"/>
				<p:dataTable 
							rendered="#{not empty student_infoBacking.stuList}"
							value="#{student_infoBacking.stuList}"
							var="stu" >
				<p:column headerText="#{studentBundle['stu_id']}">
					#{stu.stu_id}
				</p:column>			
				<p:column headerText="#{studentBundle['stu_name']}">
					#{stu.stu_name}
				</p:column>
				<p:column headerText="#{studentBundle['stu_class']}">
					#{stu.stu_class}
				</p:column>
				<p:column headerText="#{studentBundle['stu_grade']}">
					#{stu.stu_grade}
				</p:column>
				<p:column headerText="#{bundle['application.operation']}">
					<h:commandLink value="#{bundle['application.delete']}" 
					action="#{student_infoBacking.deleteStudent}"
					>
						<f:setPropertyActionListener 
						target="#{student_infoBacking.selectedStudent}" 
						value="#{stu}">
						</f:setPropertyActionListener>					
						<f:ajax render=":stuForm:results :stuForm:informationMessage"></f:ajax>
					</h:commandLink>
				</p:column>
				</p:dataTable>
		
			</p:panel>
			</h:panelGroup>
			</h:form>
		</ui:define>
		
	</ui:composition>
</html>

<!-- 
			<h:panelGroup id="results">
				<p:dataTable 
							rendered="#{not empty student_infoBacking.stuList}"
							value="#{student_infoBacking.stuList}"
							var="stu" >
				<p:column headerText="#{studentBundle['stu_id']}">
					#{stu.stu_id}
				</p:column>			
				<p:column headerText="#{studentBundle['stu_name']}">
					#{stu.stu_name}
				</p:column>
				<p:column headerText="#{studentBundle['stu_class']}">
					#{stu.stu_class}
				</p:column>
				<p:column headerText="#{studentBundle['stu_grade']}">
					#{stu.stu_grade}
				</p:column>
				</p:dataTable>
			
			
			</h:panelGroup>
			 -->
