<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions" 
	xmlns:p="http://primefaces.org/ui" 
	lang="en">
	<ui:composition template="/templates/teacher.xhtml">
		<ui:define name="title">#{bundle['application.teacher.teacher_createArchive.success']}</ui:define>
		<ui:define name="metadata" >
			<f:metadata>
				<f:viewParam name="edit_flag" value="#{requestScope.edit_flag}"></f:viewParam>
				<f:viewParam name="archive_id" value="#{successBacking.archive_id}" />
				<f:event listener="#{successBacking.init}" type="preRenderView" />
			</f:metadata>
		</ui:define>
		<ui:define name="css">
			<style type="text/css">
			.bold {
				font-weight:bold;
			}			
			
			</style>
		</ui:define>
		<ui:define name="content">
		
			<p:panel  header="提示">
			<c:if test="#{requestScope.edit_flag eq false}">
			
				<h:outputText value="您已经成功创建档案，点击返回回到初始页面" style="font-size:20px;"  ></h:outputText>
			</c:if>
			
			<c:if test="#{requestScope.edit_flag eq true}">
				<h:outputText value="您已经成功修改档案，点击返回回到初始页面" style="font-size:20px;"  ></h:outputText>
			</c:if>
			</p:panel>
			
			<p:panel header="#{bundle['application.teacher.teacher_archiveInfo']}">
			<h:panelGrid columns="2">
				<h:outputText styleClass="bold" value="#{archiveBundle['archive_year']}"></h:outputText>
				<h:outputText value="#{archive.archive_year}"></h:outputText>
				
				<h:outputText styleClass="bold" value="#{archiveBundle['archive_semester']}"></h:outputText>
				<h:outputText value="#{archive.archive_semester}"></h:outputText>
				
				<h:outputText styleClass="bold" value="#{archiveBundle['archive_course_id_id']}"></h:outputText>
				<h:outputText value="#{archive.archive_course_id_id}"></h:outputText>
				
				<h:outputText styleClass="bold" value="#{archiveBundle['archive_course_num']}"></h:outputText>
				<h:outputText value="#{archive.archive_course_num}"></h:outputText>
				
				<h:outputText styleClass="bold" value="#{archiveBundle['archive_course_name']}"></h:outputText>
				<h:outputText value="#{archive.archive_course_name}"></h:outputText>
				
				<h:outputText styleClass="bold" value="#{archiveBundle['archive_teacher']}"></h:outputText>
				<h:outputText value="#{archive.archive_teacher}"></h:outputText>
			</h:panelGrid>
			
			<c:if test="#{requestScope.edit_flag eq false}">
				<p:button value="返回" outcome="/teacher/teacher_createArchive?faces-redirect=true" style="margin-top:20px;"></p:button>
			</c:if>
			
			<c:if test="#{requestScope.edit_flag eq true}">
				<p:button value="返回" outcome="/teacher/teacher_editArchive?faces-redirect=true" style="margin-top:20px;"></p:button>
			</c:if>
		</p:panel>
		
		</ui:define>
	</ui:composition>
</html>
